[2014-08-14 21:21] conorroche opened #1 "support required model fields"
currently all model fields show up as optional in the swagger ui, the spec allows required fields so we should add javadoc params and doclet options for that

[2014-08-14 21:26] conorroche opened #2 "support @beanparam"
support jaxrs 2.0 @beanparam

[2014-08-15 08:00] conorroche opened #3 "support swagger deprecation"
currently i only use deprecated to exclude items, swagger supports including items but flagging them as deprecated, i should add support for this

[2014-08-15 09:07] #1 closed, assigned to conorroche

[2014-08-15 10:07] #3 closed, assigned to conorroche

[2014-08-15 14:22] enriquerodbe opened #4 "Array of String parameter"
Hi,

I have a resource that looks like this:

[code]

And the swagger doclet produces the following output:

[code]

Now the problem is that this breaks the UI since it expects an `items` element when `type` is `array`.
I believe this is a bug in the doclet because I'm using the swagger-ui that's 2.0 compliant.
Also I think this is similar to the fix in efdf31a712435f83c9d07a446f1b2a9888b66a2b but

[2014-08-15 15:33] conorroche opened #5 "support default values for parameters and model properties"
support default values for parameters and model properties

[2014-08-15 15:33] conorroche opened #6 "support min/max values for parameters"
support min/max values for parameters

[2014-08-15 15:44] conorroche opened #7 "support parameterized collections as api parameters"
support parameterized collections as api parameters

[2014-08-15 16:32] #4 closed, assigned to conorroche

[2014-08-16 07:09] #6 closed, assigned to conorroche

[2014-08-16 11:00] #5 closed, assigned to conorroche

[2014-08-16 11:02] conorroche opened #8 "support sub resources with cross class parser"
Currently there are 2 class parsers, the original one which supports sub resources and the new cross class one i added that supports  methods of the same api in different resource classes. We should add support for sub resources into the cross class parser then we can ditch the original one so users dont have to consider which is best for their api.

[2014-08-16 11:17] conorroche opened #9 "support File datatype"
support File datatype, while we detect jersey com.sun.jersey.multipart.FormDataParam annotation we dont set the data type of the parameter to File and we also need to look at resteasy support and any jaxrs2.0 differences for this

[2014-08-18 15:35] #9 closed, assigned to conorroche

[2014-08-18 15:36] conorroche opened #10 "support advanced composite multipart types like resteasy @MultipartForm"
support advanced composite multipart types like Map<String, Customer> and @MultipartForm that resteasy supports, impl will be similar to @BeanParam so can do when that is done

[2014-08-18 15:37] conorroche opened #11 "support multiple swagger versions including 1.1 and 1.0"
it would be nice to be able to output swagger 1.1 and 1.0 version json, the implementation could use json views for this.

[2014-08-18 17:04] conorroche opened #12 "support swagger annotated resources/models classes"
support swagger annotated resources/models classes, e.g. support swagger annotations so people can use this for their api json instead of all the additional javadoc tags, this would allow this to act as an alternative to other swagger tools

[2014-08-18 17:05] conorroche opened #13 "support spring annotations"
support spring annotations, this would allow this tool to work for non jaxrs source code like spring mvc, would probably need to rename or implement as a different doclet...

[2014-08-19 16:36] conorroche opened #14 "support variables in the javadoc which we can replace with values from a properties file"
sometimes there may be parameters or fields that are used throughout an api, it may be useful to have a single source for the description so when it needs changing you do not need to change lot of api classes. for example in carma we have a userFields parameter that can be used in lots of places to control the fields of data returned, this parameter is a CSV and means every time we add a new value

[2014-08-29 14:44] conorroche opened #15 "support map types"
in carma we use Maps for some fields

@XmlJavaTypeAdapter(value = MapXmlAdapter.class)
    public Map<String, Object> getProperties() {
        return this.properties;
    }

[2014-09-22 20:53] #2 closed, assigned to conorroche

[2014-09-23 21:03] #8 closed, assigned to conorroche

[2014-09-24 09:50] conorroche opened #16 "support collections for custom response types"
support collections for custom response types, something like the below currently won't work and it would be good to make it work

/**
     \* @responseType java.util.List<fixtures.responsemodel.Response2>
     */
    @SuppressWarnings("javadoc")
    @GET
    public Response responseDefinedViaTagForList() {
        return Response.ok().entity(new ArrayList<Response2>()).build();
    }

[2014-09-24 10:54] #16 closed, assigned to nobody

[2014-09-24 20:41] enriquerodbe opened #17 "Models attributes"
I have a model like this one:

[code]

I use the `@XmlElement` to achieve the lower_case_with_underscores format (let me know if there's some easier way to do that).

Before version 1.0 that generated a correct json but now the model is generated like this:

[code]

You can see the `firstName` attribute is duplicated and one of them is type `void`.

I'm using the doclet up until 76f245d2e664538efc

[2014-09-25 07:59] conorroche opened #18 "@XmlAttribute name is not being used for model field names"
@XmlAttribute name is not being used for model field names

[2014-09-25 08:08] #18 closed, assigned to nobody

[2014-10-01 15:37] #14 closed, assigned to nobody

[2014-10-01 22:05] conorroche opened #19 "support api level descriptions"
support api level descriptions, we support descriptions for methods e.g. summary/notes and descriptions on the resource listing but not at the api level, we should add annotations to support this as its part of the 1.2 spec

[2014-10-01 22:48] #19 closed, assigned to nobody

[2014-10-03 13:48] bvulaj opened #20 "Support relative basePath w/ port"
If this is already supported, it doesn't seem to work.  Is there a current workaround other than hardcoding my server URL into `-apiBasePath`?

[2014-10-07 20:44] conorroche opened #21 "custom response type not being added to model"
custom response type not being added to model, given a resource like this, the SomeDTO is not being added to the models:

/**
     \* @responseType fixtures.exclusionresponsetype.SomeDTO
     */
    @GET
    @Path("/{id}")
    public Response getOrder(@PathParam("id") Long id) {
        SomeDTO someDTO = new SomeDTO();
        someDTO.setId(id);
        return Response.ok(someDTO).build();
    }

[2014-10-07 20:46] #21 closed, assigned to nobody

[2014-10-18 15:54] GlombSt opened #22 "Support subtypes of response class as Model"
Hi Conor, Thanks for the great work you are doing.

In many of our APIs we see the use of subtypes for referenced types.

Essentially the same as what Jackson is doing through for example:
@JsonSubTypes(
        {
                @Type(value = CatalogDTO.class, name = "Catalog"),
                @Type(value = WebPageDTO.class, name = "WebPage"),
        }
)
or what swagger is specifying through su

[2014-10-22 15:06] #20 closed, assigned to nobody

[2014-10-22 17:43] bvulaj opened #23 "`excludeResourcePrefixes` not honored or insufficient documentation"
In my doclet config, I have the following

`<additionalparam> ... -excludeResourcePrefixes com.my.company.LoginResource</additionalparam>`

Which I would expect it to exclude the following resource and subresources:

[code]

However, I'm not seeing this.  I still see paths like `/login/user` in my generated documentation.

I have a feeling that I'm using it wrong, but as a precaution, I've created

[2014-10-24 12:59] johnsonlarryl opened #24 "Swagger UI cannot handle Joda Objects"
I get the following error below using swagger ui in my java project.  This is due to a Stack Overflow because swagger cannot handle Joda Date Time Objects.  There seems to be a circular dependency between the "DurationFieldType" and "DurationField" internal objects of the "DateTimeField" from Joda's LocalDate Object.  Can a fix be applied for this?

Uncaught RangeError: Maximum call stack size exc

[2014-10-24 18:23] bvulaj opened #25 "Support XmlAccessType.FIELD"
I've noticed that my request body POJOs don't get picked up by the doclet when I specify @XmlAccessorType(XmlAccessType.FIELD).  However, they do work when I specify XmlAccessType.PROPERTY.

Not a show-stopper at the moment.

[2014-10-25 05:40] #22 closed, assigned to nobody

[2014-10-29 17:37] #25 closed, assigned to nobody

[2014-11-07 08:41] Bozo5548 opened #26 "Fasterxml features"
Hi All,

Will it be possible to initialize Jackson mapper that is used in doclet. For example it would be good if I can set DeserializationFeature.READ_ENUMS_USING_TO_STRING or DefaultTyping.OBJECT_AND_NON_CONCRETE

[2014-11-12 06:45] mdprasadeng opened #27 "Request: Gradle setup"
Is a gradle pulgin also supported. The readme contains only setup for maven. Please let me know if a gradle plugin is available and if so please include the same readme

[2014-11-12 09:15] Bozo5548 opened #28 "@inputType is not working when MediaType = MULTIPART_FORM_DATA"
Hi,

I have something like this.

[code]

And it's not shown in documentation.
![image](https://cloud.githubusercontent.com/assets/3511448/5007682/893579e6-6a54-11e4-8636-284922cc43fc.png)

I'm using version 1.0.2

[2014-11-13 23:56] shifu opened #29 "Support Swagger spec 2.0"
Any plan to support 2.0?

[2014-11-14 08:17] #28 closed, assigned to nobody

[2014-11-14 14:58] #17 closed, assigned to nobody

[2014-11-16 19:16] #24 closed, assigned to nobody

[2014-11-17 15:32] #23 closed, assigned to nobody

[2014-11-19 00:04] shifu opened #30 "Java 8 bug when two models return Map"
[code]

If I have an API that references both ModelA and B, it will generate the below error.  It works fine on Java 7.

[code]

[2014-11-21 18:11] bvulaj opened #31 "@QueryParams are rendered as BODY type params when inside of a @BeanParam"
As the title says.  Version 1.0.1.  Code samples below:

[code]

[code]

[code]

[2014-11-25 21:35] develriat opened #32 "Unable to set param as required when wrapped in @BeanParam"
As stated above, the required/requiredParams tag is not working when QueryParams and PathParams are specified inside a BeanParam object.

[2014-11-26 11:24] cviebig opened #33 "Ignore getters with parameter"
I've a getter method with a parameter which is is ignored by Jackson (as intended) but still shown by the doclet.

I think I can hide it by JSONView or JsonIgnore annotation so it's not really important.

[code]

[2014-11-26 14:54] #33 closed, assigned to nobody

[2014-11-26 15:06] #31 closed, assigned to nobody

[2014-11-26 18:01] #32 closed, assigned to nobody

[2014-11-28 14:20] #26 closed, assigned to nobody

[2014-11-28 14:20] #27 closed, assigned to nobody

[2014-12-03 15:08] devmop opened #34 "Shipped swagger zip has nested directory"
Unlike previous versions of the zip file swagger-ui-2.0.24 contains a nested directory.
As a result the doclet no longer extracts index.html etc to the same location as the swagger json.

[2014-12-10 17:19] conorroche opened #35 "json view with nested jsonview annotated fields can cause duplicate model exception"
for full example of how to reproduce see the test case for issue30, or the sample code provided in issue #30

[2014-12-10 17:40] #34 closed, assigned to nobody

[2014-12-10 18:41] nhartner opened #36 "@Produces on class does not get propagated to method-level swagger docs"
JAXRS allows the @Produces/@Consumes annotations to be placed at the class level so that all methods can inherit it.  For exampoe:

[code]

The swagger-jaxrs-doclet should produce following api description json (but it does not):

[code]

It fails to include the "produces" line. It only generates this if @Produces is placed on the method instead of the class. Either should be allowed.

[2014-12-10 19:56] rmpestano opened #37 "Support description for header params"
Support for description in header params, eg:

[code]

[2014-12-11 17:09] nhartner opened #38 "Add support for JAXRS sub-resources"
I would like to see support for sub-resources/resource locators: https://jersey.java.net/documentation/latest/jaxrs-resources.html#d0e2184

swagger-core has a sample project that uses sub-resources: https://github.com/swagger-api/swagger-core/tree/master/samples/java-jaxrs-subresource

[2014-12-11 17:11] #36 closed, assigned to nobody

[2014-12-31 14:15] TuomasKiviaho opened #39 "NPE from missing model id when encountering @XmlTransient class"
``ApiModelParser.parseModel`` might a null modelId from translator but at this point nothing happens. Next pass via ``alreadyStoredType`` causes NPE at location seen below.

This was caused by ``@XmlTransient`` class that yields to ``OptionalName{status=IGNORED, name=null}`` which is translated as null modelId. I am using this class as a subresource (#38) so it shouldn't just be ignored.

[code]

[2015-01-02 16:04] conorroche commented on #38
@nhartner sub resources are supported. I have test cases that cover 2 levels of subresources. Is there a specific example you can give me that is not working?

[2015-01-02 17:26] nhartner commented on #38
Ah ok, I see that it works if you return an instance of a subresource instead of the subresource class.  Jersey supports both.  For example, here are 2 different ways you can do a subresource method:

[code]

Both /greetings/hello and /greetings/helloworld will invoke the subresource as expected.  The doclet however only shows /greetings/hello in the API docs but not /greetings/helloworld. It woul

[2015-01-06 20:10] conorroche commented on #39
have just committed fix for this to the latest 1.0.4-SNAPSHOT

[2015-01-06 20:51] conorroche commented on #38
ive just committed a fix for this as part of the latest 1.0.4-SNAPSHOT

[2015-01-07 14:18] TuomasKiviaho opened #40 "Problem with default index.html"
service.json is currently treaded as basepath by the swagger-ui but I believe it has not been so previously, because I have no idea how to produce a working without modifying the index.html and the history of swagger-ui gives impression that this has been altered somehow in the past.

My results have been (using ``@Api("/") public class Foobar``)
* service.json/.json
* service.json/foobar.json (us

[2015-01-07 14:27] TuomasKiviaho commented on #40
I got things working by manually prefixing the service.json paths as below
[code]

[2015-01-07 14:35] conorroche commented on #40
can you tell me what you are using for the apiBasePath and docBasePath in the maven pom.xml  and can you confirm which version of the doclet you are using?

[2015-01-07 14:36] conorroche commented on #39
can you confirm if this issue is resolved for you now?

[2015-01-07 16:34] BVulaj opened #41 "Plugin fails when ${basedir} contains a space for apiInfoFile"
The `additionalparam` config will cause a build to fail if the `${basedir}` token contains a space.

[code]

Where `${basedir}` is:

    C:\Users\User Name\workspace\myproject/src/main/webapp/static/apidocs/apiinfo.json

[code]

[2015-01-07 16:42] conorroche commented on #41
have you tried putting quotes around ${basedir}

[2015-01-07 16:43] conorroche commented on #38
@nhartner can you confirm if this has solved your problem?

[2015-01-07 16:44] conorroche opened #42 "support ordering response codes numerically"
an option to order response codes would be nice e.g. order them in ascending order by code such as 200, 204, 304, 404 etc

[2015-01-07 17:13] BVulaj commented on #41
Hey @conorroche - We have.  We see the same output.

[2015-01-07 17:22] conorroche commented on #41
you sure -apiInfoFile '${basedir}/src/main/webapp/static/apidocs/apiinfo.json' doesnt work as something equivalent seems ok for me on mac

[2015-01-07 17:26] BVulaj commented on #41
Let us try a few more things and we'll get back to you.  Thanks for trying it out.

[2015-01-07 19:05] BVulaj commented on #41
Initial tests point this working under Linux, but not under Windows, FYI.

[2015-01-07 20:22] conorroche commented on #41
ok, you are not getting a file not found error but the "Illegal package name" one right? il try on a windows box tomorrow at some stage

[2015-01-07 20:40] BVulaj commented on #41
Yep, exactly as you see above.

[2015-01-07 21:01] conorroche commented on #41
hrmm possibly a bug with the maven javadoc plugin, if you try other params with space in their values like -apiVersion '1 2' does that work? also have a go at newer versions of the maven javadoc plugin like 2.10.1

[2015-01-07 21:59] conorroche commented on #35
are you using jackson 1 or 2, ive tried a simple jersey 2 app which uses jackson 2.3.2 with the example model objects u indicated in your last post and im seeing only the text field of the comment being serialized from the getComments endpoint, do you set any special features in the object mapper?

[2015-01-08 00:08] nhartner commented on #38
Awesome.  Latest snapshot looks good on my app.

[2015-01-08 00:08] #38 closed

[2015-01-08 06:16] TuomasKiviaho commented on #40
Rookie mistake.  I got overly anxious about this serverless approach and forgot that AJAX doesn't work over file protocol. Shred http client mutilated the port but I didn't figure this one out until ``useJQuery: true`` started giving what appeared to be cross site scripting error. Sorry about the hassle.

[2015-01-08 06:16] #40 closed

[2015-01-08 06:34] TuomasKiviaho commented on #40
I used the ``javadoc:javadoc``maven goal as per your example but Jenkins has a bad habit of not delivering the JavaDoc links when not using ``javadoc:aggregate`` (here it sort of treats every project as multimodule project).

Before figuring this out tried to use swagger from the Jenkins workspace directly, but swagger broke on me since workspace navigation doesn't(/mustn't) treat index.html as we

[2015-01-08 19:46] BVulaj commented on #41
I think I've also found a related bug under Windows:

[code]

Using ${basedir} under Windows causes a directory with `\v` or any other recognized escape character causes odd results.  See: ♂ character in output.

Do you believe that this is still an issue with the javadoc plugin itself?

[2015-01-08 21:03] conorroche commented on #41
the above error is raised by my code if it cant read the file with the path given.
the path for the option comes in as a string from com.sun.javadoc.RootDoc.options method so I think the corrupted path is either:

a) a bug with maven property substitution of the ${basedir} to check this try putting in the full path to the file such as c:\temp\apiinfo.json
b) a bug with the maven javadoc plugin
c)

[2015-01-10 09:07] TuomasKiviaho commented on #38
I've a similar use case as above with ``@POST`` method. Only difference is that Resteasy seems to require ``@Path`` on this method and that the subresource class I use is not an inner class. This class is considered also as normal resource by the doclet but not by Resteasy. Could the extra ``@Path`` declaration on the method be the culprit here.

[2015-01-10 10:28] conorroche commented on #38
no i have test cases that have @path on the method, do you by any chance have @path on the sub resource class?

[2015-01-12 18:08] shifu commented on #30
@conorroche I was on doclet 1.0.1 and java 8 1.8.0_25-b17 on Mac yosemite.

java version "1.8.0_25"
Java(TM) SE Runtime Environment (build 1.8.0_25-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.25-b02, mixed mode)

[2015-01-12 18:21] conorroche commented on #30
@shifu does it happen for you with version 1.0.3 of the doclet?

[2015-01-13 13:48] TuomasKiviaho commented on #38
@conorroche Nope, that's the key difference between sub resource and real resource (as I understand it). If I replace``@Path("/post")`` as ``@Path("/")`` then I'm getting ``SwaggerOperation bar is missing path.`` because the output becomes``"path" : ""``. I break Resteasy when I remove the annotation completely.

[code]

[2015-01-19 22:26] tadhgpearson opened #43 "Allow including of packages"
As well as being able to exclude packages by prefix, it would be cool to be able to also include them.

For example, I have one project that builds my server, taking other dependent projects (containing JAX-RS declarations) as distinct libraries and building them together into a single server.
Just as I have one server, I'd like to have one swagger portal for that server, but the doclet won't incl

[2015-01-22 20:01] conorroche commented on #43
Hi Tadhg,

We do something similar in Carma, the way we do it is to use the maven-dependency-plugin to pull in the source files from the other library e,g,:

<plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-dependency-plugin</artifactId>
        <executions>
    	<execution>
            <id>unpack-client-sources</id>
            <phase>generate-resources</phas

[2015-01-27 15:24] loucasa opened #44 "Resource with @Path("/") is ignored"
Not sure if I am missing something but if I change the value so that it is not root then it works

[2015-02-02 17:06] alexradzin opened #45 "Doclet enters infinite loop when generic class parameter cannot be concretized"
In some cases `ServiceDoclet` got stuck. Debugging helps to locate the point where code cannot exit the endless loop:

[code]

The `while()` loop never exits.

Although I do not have [SSCCE](http://sscce.org/) I will give a simplified version of my API that causes this problem.

My API looks like:

[code]

The class `MeasurementsQuery` has a lot of fields including `AggregationGroupExtractor extra

[2015-02-03 21:22] conorroche opened #46 "abstract sub resources dont work"
this was raised as a comment to issue #38, am raising as a separate issue.

for example:

public abstract class Bar {

    @POST
    @Path("/post")
    public abstract void bar();

}

@Path("/foo")
@Produces({ MediaType.APPLICATION_JSON, MediaType.APPLICATION_XML })
public abstract class Foo {

    @Path("/bar")
    @Produces(MediaType.APPLICATION_JSON)
    public abstract Bar getBar();

}

[2015-02-03 21:24] conorroche commented on #38
@TuomasKiviaho i have committed a fix for this against issue #46 can you let me know if this resolves your issue, thanks.

[2015-02-03 21:26] conorroche commented on #43
closing as solution via maven has been described

[2015-02-03 21:26] #43 closed

[2015-02-03 21:27] conorroche commented on #39
closing as i believe this is fixed and have not hear otherwise since

[2015-02-03 21:27] #39 closed

[2015-02-03 21:28] conorroche commented on #37
closing as not a bug

[2015-02-03 21:28] #37 closed

[2015-02-03 21:30] conorroche commented on #35
@cviebig can you tell me if you are still having problems with this?

[2015-02-04 06:25] conorroche commented on #46
i have now committed a fix for this, waiting to hear back from @TuomasKiviaho to see if this has resolved his issue

[2015-02-04 06:27] conorroche commented on #45
Thanks for the detailed bug report Alex, I will take a look at this over the next couple of days

[2015-02-05 08:27] alexradzin commented on #45
I'll be glad to get update. So far I will try to continue with my, patched version.

[2015-02-05 08:29] alexradzin commented on #44
I experienced the same issue and worked it around by changing values of @Path annotation. I was lucky that I could do this in my case.

[2015-02-05 14:15] deslauriersp commented on #7
+1 on this feature :)

[2015-02-05 16:39] aptogo opened #47 "support wrapped types for paramaters e.g. Option<String>"
When using Dropwizard the types of input parameters declared for a resource method don't necessarily correspond with what you want to appear in the docs e.g.:

    @GET
    public Greeting sayHello(@QueryParam("name") Optional<String> name) {
        ...
    }

I'd like the `name` parameter to appear as the simple type 'string' in the docs, not `Optional`. The same goes for `LongParam` - I'd like

[2015-02-06 09:16] conorroche commented on #44
I have now fixed this so that by default resources with path of @Path("/") or @Path("") will have a resource root path of /root but this can be customized either by using the doclet param -resourceRootPath or by using the @resourcePath javadoc tag on the class,

NOTE for people with version prior to this fix you can have solve it by setting the resourcePath javadoc tag on the class e.g.

/**
 * @r

[2015-02-06 09:17] conorroche commented on #44
@loucasa or @alexradzin  can you let me know if this has solved your issues now?

[2015-02-06 09:49] loucasa commented on #44
The latest works for me now thanks but note the @resourcePath workaround does not work on v1.0.3 or below, seems the checkin "fix for issue 46" allowed the workaround to work

[2015-02-06 10:28] conorroche commented on #45
@alexradzin I was able to reproduce this based on your description and have added a test case for this and a fix, my fix should handle longer chains.

[2015-02-06 10:28] #44 closed

[2015-02-06 10:29] conorroche commented on #45
@alexradzin can you confirm this fix works for you?

[2015-02-06 14:06] DigitalSmile opened #49 "Support of HttpMethods PATCH/OPTIONS/HEAD"
I have noticed that there is no support of this methods. Are there any plans to include them?

[2015-02-06 16:57] conorroche commented on #49
should be straightforward to add, il aim to do it in the next few days

[2015-02-08 13:13] alexradzin commented on #45
@conorroche, I have validated your fix. It words for me. When are yo planning to make this version available in maven repository? Right now I am going to use our local Artifactory but will be glad to work with official version.

[2015-02-08 13:43] alexradzin opened #50 "Doclet fails when destination directory does not exist"
One of parameters supported by `javadoc` is `-d` that allows to specify the destination directory. If directory does not exist it is created automatically by `javadoc`. If specified destination is not a directory the following error is printed:

    javadoc: error - Destination directory is not a directory

Unfortunately `ServiceDoclet` breaks this functionality: if destination directory does not

[2015-02-12 20:47] conorroche commented on #45
I hope to release 1.0.4 in the next couple of weeks, there are a couple of open issues id like to include in that release, i have been swamped with work recently but will see how it goes

[2015-02-12 20:47] #45 closed

[2015-02-12 20:48] conorroche commented on #49
i have now fixed this in the latest snapshot

[2015-02-12 20:51] conorroche commented on #50
fix committed

[2015-02-12 20:59] conorroche commented on #47
this is possible using the genericWrapperTypes doclet option e.g. -genericWrapperTypes com.google.common.base.Optional

i will add this to the default set

[2015-02-12 21:14] conorroche commented on #47
sorry the above is only applicable to response types not parameters so it will require a fix

[2015-02-12 21:34] conorroche commented on #47
i have now committed a fix for this

[2015-02-13 01:08] kozlovda opened #51 "Add support for javax.validation annotations (JSR-303) on DTOs"
Hi Conor,

First of all thanks for the great doclet! :)

Now, working on a project I found out that I have to duplicate validation constraints in javadocs, although I've already defined them using [JSR-303 annotations](http://beanvalidation.org), e.g.:
[code]

So it would be nice if doclet could recognize those (at least default set).

Or at very least treat:
- `javax.validation.@NotNull` as `@man

[2015-02-13 01:47] deslauriersp commented on #51
+1 on this one
On Feb 12, 2015 8:08 PM, "Dmitry Kozlov" <notifications@github.com> wrote:

[2015-02-13 06:25] conorroche commented on #50
@alexradzin can you confirm this works as you expect now?

[2015-02-13 06:26] conorroche commented on #49
@DigitalSmile can you confirm this works as you expects now?

[2015-02-13 06:28] conorroche commented on #46
no response so closing as tests passing and I have no reason not to believe this has been resolved

[2015-02-13 06:28] #46 closed

[2015-02-13 06:30] conorroche commented on #51
yes thanks for the feedback, I will take a look at it, note that there are doclet tags for min/max e.g. @min 1 and @max 5

[2015-02-13 07:52] DigitalSmile commented on #49
@conorroche I will return to you with results in next couple of days, thanks a lot!

[2015-02-13 11:39] conorroche commented on #51
i have now added support for this, @kozlovda can you confirm its now ok for you?

[2015-02-13 11:55] conorroche commented on #7
@deslauriersp can you give me more detail on this e.g. example of your method signature and what form the http request should take to pass the list/array parameter? It looks like the swagger 1.2 spec does not handle array parameters well e.g. handle different formats of multi valued params like &p1=val1&p1=val2 versus &p1[]=val1&p1[]=val2 versus &p1=val1,val2 the latter CSV one appears to be the m

[2015-02-13 12:52] deslauriersp commented on #7
Given your question, maybe I misunderstood what was the issue #7 about.
My issue is with collections in  body parameter, not csv parameter. For a given method :

`@Path("example")
public Response doSomething(MyObject param){...}`

json model generation works. But it fails for collections (with or without `@inputType`)

`/**`
`*@inputType java.util.List<com.domaoin.MyObject>`
`*/`

`@Path("example"

[2015-02-13 15:59] conorroche commented on #41
@BVulaj I have finally gotten around to getting a windows box setup and have gotten to the bottom of this issue.

The maven javadoc plugin requires backslashes in <additionalparam> to be double escaped
You should also use double and not single quotes.

So you can use an absolute path, for example this works:

<additionalparam>-apiVersion '1 2' -docBasePath /sps/apidocs -apiBasePath /sps -apiInfoFi

[2015-02-13 16:24] conorroche commented on #7
@deslauriersp your use case should be supported e.g. i have a test for this that works:

@POST
	@Path("/listofitems")
	public void setListOfItems(List<CollectionItem> items) {
		// noop
	}

are you sure you aren't missing a http method like @POST?

After looking back into this it isn't arrays that I was thinking of but rather a generic parameter class e.g. Gen<T> and with a method like postVal(Lis

[2015-02-13 17:32] conorroche commented on #30
closing as cannot reproduce on 1.0.3+ will reopen if further details are provided

[2015-02-13 17:32] #30 closed

[2015-02-13 17:35] conorroche commented on #47
@aptogo can you confirm this is ok for you now in v 1.0.4?

[2015-02-13 17:36] conorroche commented on #45
@alexradzin  this is part of 1.0.4 which ive just release.

[2015-02-13 17:38] conorroche commented on #51
Note i support these on model fields, model methods and also on resource method parameters, I also added support for the @Null and DecimalMin and DecimalMax annotations

[2015-02-13 22:12] kozlovda commented on #51
Hi Conor, thanks a lot! I'll give it a try and let you know.

[2015-02-16 09:20] conorroche commented on #42
added for 1.0.4

[2015-02-16 09:20] #42 closed

[2015-02-17 07:43] TuomasKiviaho opened #52 "Stackoverflow from bidirectional sub resources"
CrossClassApiParser never finishes when sub resources generate net structure instead of the usual tree structure.

A fix could be to check whether or not subresource is already being parsed before creating subResourceParser

[code]

[2015-02-17 08:46] conorroche commented on #52
@TuomasKiviaho i already use a different class set to prevent against this but it obviously doesn't work in your case, could you give me code for sample resources that can reproduce this?

[2015-02-18 09:08] DigitalSmile commented on #49
@conorroche well, the 1.0.5-SNAPSHOT version gives me an exception in other unrelated staff I guess.
[code]
The FeedbackDTO is as follow:
[code]
We are using Hibernate Validation and I can say production 1.0.1 from Maven Central works normal. Any suggestions?

[2015-02-18 13:20] DigitalSmile commented on #49
It seems this is about fix on javax.validation #51

[2015-02-18 14:20] conorroche commented on #49
yes i will make a fix so that rather than validating that @size attributes are only on int/doubles that it allows size to be on Strings but ignores them for setting the max/min value

[2015-02-18 14:54] conorroche opened #53 "@Size on string fields causes the model parsing to fail"
@Size on string fields causes the model parsing to fail, this bug was introduced with support for Jsr303 #51 issue 51

[2015-02-18 14:55] conorroche commented on #53
fix committed

[2015-02-18 14:56] conorroche commented on #49
@DigitalSmile ive committed a fix for this new issue which ive raised as issue #53

[2015-02-18 15:19] conorroche commented on #52
@TuomasKiviaho i have tried reproducing using bidirectional sub resources like these but have had no luck:

@Path("/bidir")
public class MainRes {

	@Path("/a")
	public ResA getA() {
		return null;
	}

}

public class ResA {

	@Path("/get")
	@GET
	public String get() {
		return null;
	}

	@Path("/b")
	public ResB getB() {
		return null;
	}

}

public class ResB {

	@Path("/get")
	@GET
	public Stri

[2015-02-18 16:15] DigitalSmile commented on #49
@conorroche Well done! Works as expected, thanks a lot. Any plans for the release in maven central?

[2015-02-18 16:15] #49 closed

[2015-02-18 16:52] conorroche commented on #49
@DigitalSmile ive just released 1.0.4.1 as a patch of 1.0.4 which includes a fix for issue 53

[2015-02-18 17:23] DigitalSmile commented on #49
@conorroche wonderful, thanks again!

[2015-02-18 17:25] DigitalSmile commented on #53
Can confirm, fixed.

[2015-02-18 17:58] #53 closed

[2015-02-18 18:01] conorroche commented on #35
closing as have not heard anything further, the stack overflow no longer happens, i wasn't clear on some of the expected results for complicated jsonview structures can reopen if i get further clarification

[2015-02-18 22:39] davidclarencelim opened #54 "Generic support for @responseType"
Any plan to add support for generics for custom @responseType?

Appreciate the work you've done. Thanks!

[2015-02-19 18:53] buzzkillington commented on #54
I just ran into this today in version 1.0.4.1, while trying to annotate an endpoint with a responseType of Map<Type1, Type2>. I'm getting ```UnsupportedOperationException: Generic response types are not supported for custom @returnType, only collection types are allowed.``` Given that Java Maps aren't Collections, is it not currently possible to represent this?

[2015-02-19 20:28] conorroche commented on #54
@davidclarencelim can you give me an example of the method signature you have the problem with?

[2015-02-19 20:39] conorroche commented on #54
@buzzkillington again can you show me the method signature you are using so I can be clear about your issue.
Swagger spec 1.2 doesnt support map types, one option is to support a list of entry objects which have a key and value, but that is unlikely to match what your rest framework will accept as input, an alternative is to have something that can define the supported key names e.g. a series of j

[2015-02-19 20:59] buzzkillington commented on #54
@conorroche I just started using Swagger/swagger-jaxrs-doclet yesterday, in a Dropwizard project.  My method actually returns a Response, but I'm trying to use @responseType to describe the entity contained in the Response: a ```Map<FooEnum, FooData>```; in this case, the key type happens to be an enum, and the value type is a domain object with a couple fields.  To help clarify, the JSON-serializ

[2015-02-19 21:15] buzzkillington commented on #54
@conorroche Cool, thanks - look forward to checking it out!

[2015-02-19 21:51] davidclarencelim commented on #54
Perhaps something like this:

class Batch<T> {
  Set<T> items;
  String nextToken;
}

class Item {
  String id;
  String desc;
}

for @responseType com.dlim.Batch<Item> (or something similar..), I'd love to be able to pass enough information that I could generate a model schema in swaggerUI or similar that looked like this:

{
  "items" : [ { "id" : "", "desc" : "" } ],
  "nextToken" : ""
}

Is th

[2015-02-19 21:54] davidclarencelim commented on #54
Perhaps something like this:
[code]
for `@responseType com.dlim.Batch<Item>` (or something similar..), I'd love to be able to pass enough information that I could generate a model schema in swaggerUI or similar that looked like this:
[code]

Is this even possible?

[2015-02-24 10:45] Lattyware opened #55 "Incorrect types are documented where nested objects use inner classes of the same name."
I have a `Foo` object that has a member `Bar` object. They both have `Baz` inner classes, and instances of those inner classes within themselves. E.g:
[code]
[code]

When the doclet runs, it produces incorrect output, conflating the two `Baz` classes and keeping only `Foo.Baz`, without `Bar.Baz` showing up at all:

[code]

[2015-02-24 12:26] TuomasKiviaho commented on #52
I got the debugger up and running but ```CrossClassApiParser``` now seems only to nag about
[code]
every time it sees the sub resource again which is quite a lot when there are lot of cyclic references. I wonder if I might have worked around this problem already.

[2015-02-24 13:02] conorroche commented on #52
What return type and looked up type does it actually output?

[2015-02-24 16:53] TuomasKiviaho commented on #52
The latter is null because the class was omitted in order to prevent infinite loop. There's already hundred lines and I'm afraid this will only multiply each time I introduce a new cyclic reference to my net of sub resources. Good thing is that it doesn't loop indefinitely anymore and I get a decent output.

PS. One thing that might be helpful is to output the error using ``com.sun.java.doc.DocErr

[2015-02-24 17:05] conorroche commented on #52
ive removed the error messages in the latest snapshot

[2015-02-24 20:31] conorroche commented on #50
closing as I believe this has been resolved

[2015-02-24 20:31] #50 closed

[2015-02-24 20:32] conorroche commented on #41
closing as I believe this has been resolved with the documented workarounds

[2015-02-24 20:32] #41 closed

[2015-02-24 20:32] conorroche commented on #47
closing as I believe this has been resolved

[2015-02-24 20:32] #47 closed

[2015-02-24 20:32] conorroche commented on #51
closing as I believe this has been resolved

[2015-02-24 20:32] #51 closed

[2015-02-24 20:35] conorroche commented on #52
@TuomasKiviaho if you could post the src of com.example.Foobar1, com.example.Foobar2, com.example.Foobar4 and the parent resource etc that would really help me reproduce and resolve it properly

[2015-02-25 00:55] conorroche commented on #54
@davidclarencelim I have now added support for generics in @responseType to the latest snapshot, including the use case you described

[2015-02-25 01:04] conorroche commented on #54
@buzzkillington Ive fixed it so now it will at least process a Map method but it will output the response type as Map which is an undocumented model. Here is an example:

/**
	 * @responseType java.util.Map<java.lang.String, java.lang.Integer>
	 */
	@GET
	@Path("/g")
	public Response getG() {
		return null;
	}

since swagger doesnt support maps the only way i can think of documenting it is to supp

[2015-02-27 06:44] TuomasKiviaho commented on #29
+1 from me as well. ``@Pattern`` annotation and support ``date/dateTime`` would bring clarity to types under``ParamConverter`` (such as ``LocalDate`` of ThreeTenBP)

[2015-02-27 12:47] TuomasKiviaho opened #56 "Support for swagger-annotations"
It would be nice if swagger annotations could be used alongside JAX-RS, JAXB and validation annotations. These might overlap slightly because with ``@ApiParam`` you can declare `` @Min/@Max``  as well as declare ``@GET/@PUT/@POST``...  These cases have been documented quite well and I guess this annotation would be used for notes (when available) instead of javadoc. This would minimize transition

[2015-02-27 13:06] TuomasKiviaho commented on #56
My API path is just a slash because I use web application context paths instead. I use ``@Api("/foobar")`` to override the JAX-RS path for documentation but currently I end up with the following. I guess that ``root`` is to overcome filesystem problems caused by empty name, but instead it would be nice if swagger-annotations could be used prior falling back to this.

[code]
[code]

[2015-02-27 13:56] conorroche commented on #56
this has been logged already by issue 12 though is probably a subset of that

[2015-02-27 13:59] conorroche commented on #56
@TuomasKiviaho note that you can use the @resourcePath tag to override the /root

[2015-02-28 01:16] davidclarencelim commented on #54
@conorroche That's awesome, thank you! I haven't had a chance to test it out yet but I'll let you know if anything comes up. Appreciate the fast turnaround.

[2015-02-28 06:27] TuomasKiviaho commented on #56
I'll close this issue as start to track the #12 then (sorry about the duplicate) and thanks for the pointer to javadoc tag. Too bad that I'm still relying on swagger on some areas so I'd be forced to duplicate the descriptions.

[2015-02-28 06:27] #56 closed

[2015-03-03 00:08] callenx opened #57 "@Size on method parameter causes the model parsing to fail"
Similar to #53, annotating @Size on a method's String parameter causes model parsing to fail.

Interface:

    @GET
    @Path("/product/{sku}")
    Product getProduct(@PathParam("sku") @NotNull @Size(min=10, max=10) String sku);

Produces:
[code]

[2015-03-03 00:57] conorroche commented on #57
ive fixed this in the latest snapshot

[2015-03-04 00:22] callenx commented on #57
Confirmed fixed in 1.0.5-SNAPSHOT.  You rock.

[2015-03-04 00:22] #57 closed

[2015-03-04 12:13] conorroche opened #58 "carma information cards are not being documented"
I have not identified the exact cause but our information card objects are not being documented e.g. not being added to the model, this was working in 1.0.3

[2015-03-04 13:22] conorroche commented on #58
fixed in 1.0.4.2

[2015-03-04 13:22] #58 closed

[2015-03-04 14:03] conorroche commented on #57
@callenx ive just released 1.0.4.2 that contains this fix

[2015-03-04 17:06] callenx commented on #57
I feel like it's my birthday.  : )

[2015-03-05 05:13] TuomasKiviaho commented on #29
swagger-compat-sped-parser could be the way to go. There's a migrator that could used ease up the transition but better yet there seems to be jackson based models that could be used instead of doclet models if 1.2 support is no longer deemed as a must.

[2015-03-05 07:14] TuomasKiviaho commented on #52
Thanks, They come from quite a big non-public ORM model so I have would have to narrow down (and obfuscate)  them first, but so far what I've discovered is that..

- Interfaces are not processed (see resteasy client side proxy support)
- Nested subresources still end up to the root level for me.

I'll make a pull request out of these first so that I can reduce the produced JSON to mere fraction wh

[2015-03-05 07:53] TuomasKiviaho commented on #52
I found out that /directory/directory/directory.... mapping is not possible with 1.2 spec because it (https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#522-api-object) doesn't have $ref as does 2.0 (https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#pathItemObject)

[2015-03-05 12:47] TuomasKiviaho commented on #52
Here's the pull request #59 I promised

[2015-03-09 21:31] buzzkillington opened #60 "Model schema is incorrect when using custom JSON serialize/deserialize adapters"
My model includes a class that's a wrapper around a String, with a custom serializer and deserializer config at the class-level to write/read the wrapped String field; it's effectively:
[code]
Whenever an object containing an IdWrapper gets serialized, the IdSerializer just writes out the ```id``` String value.  Unfortunately, swagger-jaxrs-doclet's Model Schema is showing the entire Wrapper objec

[2015-03-10 18:17] tadhgpearson commented on #43
Thanks Conor, however I haven't been able to get that working. Are you then running

to complete the build?

[2015-03-10 18:54] conorroche commented on #43
No assume you have 2 projects and thus 2 pom files, project A has the class files you want to include and project B has either no additional class files or has the main class files you want to be auto documented. You would add the above plugins to the project B pom and then run mvn install on project B which would auto run the javadoc plugin. here is an example of the a pom that does this:

<?xml

[2015-03-17 01:21] shifu commented on #30
Confirmed it's fixed in 1.0.3 and reproduced on 1.0.1

[2015-03-19 13:02] conorroche opened #61 "support inclusion of manually defined endpoints"
We have some api endpoints implementted in non JAXRS form such as a nodejs endpoint and some spring mvc ones. For these the simplest option would be to be able to include an endpoint either into an existing resource file or a new resource file

[2015-03-20 15:03] conorroche commented on #61
implemented in 1.0.5-SNAPSHOT

[2015-03-23 11:05] #61 closed

[2015-03-23 21:17] rmpestano opened #62 "Fire request to external REST apis"
Hi there, this is a question on how can i change the api base path, let me clarify.

I am consuming services.json present on my network and this works great, see image below:

![consume swagger api](https://cloud.githubusercontent.com/assets/1592273/6790743/8a0da44c-d188-11e4-97bc-735d9e3aab61.png)

although i can read service.json from any application on my network (using cors) when i fire a requ

[2015-03-24 08:56] conorroche commented on #62
Hi Rafael,

Have you tried using the -apiBasePath doclet option to set the api base path to point to the server you want?

Conor

[2015-03-24 09:30] rmpestano commented on #62
Hi Conor, the idea is to let it dynamic, how can I do that?

[2015-03-24 11:12] conorroche opened #63 "dropwizard sample is not working"
the sample doesnt start up anymore for version 1.5.0-SNAPSHOT and 1.4.X

[2015-03-24 11:13] conorroche commented on #63
fixed

[2015-03-24 11:13] #63 closed

[2015-03-24 11:39] rmpestano commented on #62
my idea is query any rest api via swagger ui (this is already working but the requests are sent only to the server where swagger ui is) so base path must be dynamic, something like a service catalog

[2015-03-24 11:58] conorroche commented on #62
swagger ui is a separate project to this https://github.com/swagger-api/swagger-ui , this project generates the json files, if you cant get it working you should raise an issue with the swagger-ui project

However I have spent time checking if the issue you describe happens using the dropwizard sample bundled with the doclet which has swagger-ui-2.0.24 embedded in it but with some patches to the s

[2015-03-24 12:31] rmpestano commented on #62
Hi conor, thanks for you time and help.

I have patched swagger-ui 2.0.24 and got the same behaviour, i can fetch other apis but the request is always to localhost.

![consume swagger api2](https://cloud.githubusercontent.com/assets/1592273/6801638/69c0a2cc-d208-11e4-8bd0-19c9f4393211.png)

I will take a look at dropwizard example. thanks again.

[2015-03-24 13:00] conorroche commented on #62
ive just tried using swagger-ui-2.1.8-M1 and it seems to work well for me in terms of making api calls to a remote api you should see if that works for you

[2015-03-24 14:04] conorroche opened #64 "upgrade to swagger ui 2.1.X"
The latest swagger ui  supports both the 2.0 and 1.2 spec, we should upgrade the embedded swagger ui to the latest 2.1.x UI

[2015-03-24 14:05] conorroche commented on #64
upgraded both the embedded and the dropwizard sample

[2015-03-24 14:05] #64 closed

[2015-03-24 14:07] conorroche commented on #62
ive now upgraded the doclet to use swagger-ui-2.1.8-M1 by default and in the dropwizard sample, note the shred.js patch which was needed for swagger-ui 2.0.X does not work with 2.1.x so should not be applied.

[2015-03-24 17:24] rmpestano commented on #62
Hi again, here is what happens when i try to consume an external api with the dropwizard sample:
![consume swagger api](https://cloud.githubusercontent.com/assets/1592273/6808098/f18b2a2e-d230-11e4-835a-9f7fe697302a.png)

See that swagger-ui is trying to fetch remote services on local app and obviously its not found. I did not faced this because I was featching the same app on different server. Th

[2015-03-24 17:25] rmpestano commented on #62
hmmm my version of swagger-ui is different on that server..will try to update there and see if it works

[2015-03-24 17:29] rmpestano commented on #62
same problem...it is trying to GET resource definition (.json) on the app which is firing the request and so receiving a  http://localhost:7070/soews/apidocs/documentos.json 404 (Not Found)

[2015-03-24 21:14] conorroche commented on #62
for me if i point the dropwizard sample at carma's service.json https://api-dev.car.ma/apidoc/ref/service.json it loads the resource json files fine, that service.json file has relative api paths e.g.:

{
  "swaggerVersion" : "1.2",
  "apiVersion" : "1",
  "basePath" : "https://api-dev.car.ma/apidoc/ref",
  "apis" : [ {
    "path" : "/login.{format}"
  }, {
    "path" : "/discovery.{format}"
  }

[2015-03-25 12:33] rmpestano commented on #62
ok, the problem with my api is with base path:

{
  "swaggerVersion" : "1.2",
  "apiVersion" : "1",
  "basePath" : "/soews/apidocs",
  "apis" : [ {
    "path" : "/documentos.{format}"
  }, {
    "path" : "/usuarios.{format}"
  }, {
    "path" : "/dadosAdicionais.{format}"
  }, {
    "path" : "/ldap.{format}"
  }, {
    "path" : "/logon.{format}"
  } ]
}

many thanks for your help Conor, keep the g

[2015-03-25 12:33] rmpestano commented on #62
closing this issue/question

[2015-03-25 12:33] #62 closed

[2015-03-27 02:54] plessbd commented on #29
I would prefer to see support of the 2.0 spec instead of 1.2.  If 1.2 is needed just used the older version of the doclet.

[2015-04-05 22:20] fangjian601 opened #66 "Inherited method with @JsonProperty is missing in generated model schema"
I encountered a bug. If a method is inherited from parent class and it is annotated with @JsonProperty, the generated model schema does not contain this field. Here's an example.

[code]
For above example, the generated model schema does not contain "id" field. Is this a bug?

[2015-04-13 03:03] wrwatson opened #67 "Order properties in model objects as ordered in source code"
Let's say I have a model object with these properties:-
* Address1
* Address2
* City
* State
* ZipCode

For readability, I would like the properties in the JSON file to be ordered the same way in which they are ordered in the source code.

Currently, they appear to be ordered according to the HashMap iterator order.  This isn't guaranteed by java to be anything in particular.

(NB. In theory, JSON

[2015-04-17 15:03] Almar commented on #13
Yes please!
Support of spring annotations would be great!

[2015-04-30 15:28] conorroche commented on #43
@tadhgpearson i missed mentioning that the sources jar should be added as a dependency too, ive revised my original comment for that.

[2015-05-07 06:32] RobWin commented on #13
@Almar @conorroche See https://github.com/springfox/springfox and https://github.com/RobWin/swagger2markup

[2015-05-09 15:41] conorroche commented on #66
@fangjian601 sorry it has taken so long to reply, I have not has spare time recently. I have committed a test case for this which doesnt use json views but does use the @json properties and the id field is generated correctly. I suspect it is therefore related to the json views. You did not give the source for the json views. It looks like the getUser method is supposed to render using the Fronten

[2015-05-11 10:14] conorroche commented on #55
@Lattyware I have now committed support for nested model classes, if you have time let me know if it works for you

[2015-05-11 12:38] conorroche commented on #60
@buzzkillington this can be done using the stringTypePrefixes doclet option

 e.g.  -stringTypePrefixes com.mypackage.IdWrapper

where com.mypackage can be changed to the package of your id wrapper class

[2015-05-11 12:38] #60 closed

[2015-05-11 14:27] conorroche commented on #67
@wrwatson i have just committed a fix for this now

[2015-05-11 23:16] wrwatson commented on #67
Thanks @conorroche I'll check it out soon.

[2015-05-15 06:35] dwalden opened #69 "@responseType ignored where method signature specifies generic return type"
Hi,

I'm using swagger-doclet-1.0.4.2.jar. This doclet seems to be ignoring the @responseType tag in my javadoc when my method signature uses generics in specifying the return type.

**Given**
A service...
[code]
... a resource type ...
[code]
... which is extended ...
[code]

**Example that doesn't work**
In this example, the @responseType tag is ignored:

[code]
Result:

[code]
**Example that wo

[2015-05-15 11:12] conorroche commented on #69
ive just committed a fix for this now

[2015-05-18 05:26] dwalden commented on #69
Hi @conorroche , thank you for the great response time. I have tested your fix out and it seems to be working fine.

Many thanks for this fix.

[2015-05-18 05:26] #69 closed

[2015-05-18 07:08] dwalden opened #70 "no more alphabetical ordering of services in shipped Swagger-UI"
Just a heads-up...

This applies to the HEAD of master of the swagger-jaxrs-doclet project, currently 2adb450c0e6594e1353d134aec306003c5561bf7.

It appears that the Swagger-UI that is shipped with this doclet does not sort the services alphabetically.

The HEAD of master of the **Swagger-UI project**, currently 198dd641b460e16f85b9bc5f69c46639878b8781, seems to work fine; the services are sorted.

[2015-05-18 16:29] cornelcreanga opened #71 "Support for array types"
Hi,

Assume the following method:

[code]
The type of the items parameter will be String[] instead of array, which is incorrect. Also, the swagger-ui will not work with types containing [] in their name.

I should be able to check in a fix on Monday - unless is already on your table.

[2015-05-18 16:34] cornelcreanga opened #72 "Model generation does not work properly in some cases"
Go on fixtures.collections.CollectionResource and comment everything except the last method.

[code]

Check the generated model - the CollectionItem is missing. However If you add CollectionItem as a part of return type it will work (uncomment the getItems method).

I should be able to check in a fix on Monday - unless you are already planning to do it.

[2015-05-19 07:55] conorroche commented on #71
hey ive started looking into this, fixing it for all types of arrays will not be that trivial in java versions prior to 8 as java 8 javadoc Type has a method to get the type of array element, there is a solution around this but will take me some time

[2015-05-19 22:58] nkoterba opened #73 "Issue Creating Paths with Regex Expressions"
Our Resource is annotated as:
[code]

However, when the doclet runs, this is the output:
![image](https://cloud.githubusercontent.com/assets/2508944/7715693/f656e0e0-fe3e-11e4-9339-0019b3438f5b.png)

First, it doesn't look like `@resourcePath`, `@resource`, or `@parentEndpointName` is having any effect on the generated filename.  Was expecting `testMe.json`.

Also, in looking at the `service.json`

[2015-05-20 17:11] conorroche commented on #73
regex patterns are not currently supported i will investigate a solution

[2015-05-20 20:15] nkoterba commented on #73
@conorroche So I'm at a crossroads for our project.  I really like this project and its ability to annotate using JavaDoc comments and JAX-RS annotations.

I really dislike the fact that swagger has its own set of annotations ON TOP of Javadoc.  Granted it gives you more control and flexibility in documenting your API but at the end of the day, it's introducing a dependency in our source with no g

[2015-05-20 23:21] nkoterba commented on #73
@conorroche Follow up ?...

So I know regex's won't work...however, shouldn't one of the JavaDoc annotations you list in the documentation override the Regex?

[code]

I thought that `@resourcePath`, `@resource`, or `@parentEndpointName` would all override the jaxrs `@Path` annotation at least based on the documentation:
[code]

Am I mis-interpreting the documentation?

[2015-05-21 00:49] conorroche commented on #73
i think the easiest is to have the doclet simply strip out the regex when generating the path so instead of
api/survey/{packageId: [0-9]+} it would become api/survey/{packageId} which would then work ok, so the fix wont be too difficult. At the moment @resourcePath on the class is only used in the event that either a) the class has an empty @Path("") or @Path("/") eg. root path, or b) for methods

[2015-05-21 10:46] conorroche commented on #71
@cornelcreanga ive just committed support for arrays let me know how it looks

[2015-05-21 10:46] conorroche commented on #72
@cornelcreanga my fix for issue 71 should solve this, let me know if it works for you

[2015-05-21 10:47] conorroche commented on #67
closing as no response and I believe this has been fixed.

[2015-05-21 10:47] #67 closed

[2015-05-21 10:47] conorroche commented on #66
closing as I believe this is not a bug but expected json view behaviour.

[2015-05-21 10:47] #66 closed

[2015-05-21 10:48] conorroche commented on #52
closing as according to the pull request this is no longer an issue and I could never reproduce

[2015-05-21 10:48] #52 closed

[2015-05-21 10:49] conorroche commented on #55
closing as I believe this has been resolved

[2015-05-21 10:49] #55 closed

[2015-05-21 12:15] conorroche commented on #73
@nkoterba i have committed a fix to handle regex path param expressions.

[2015-05-21 13:02] conorroche commented on #73
@nkoterba ive been looking into the issue you mentioned in relation to @resourcePath, for me this is taking effect, e.g. if i add @resourcePath myTest then i end up with "path": "/myTest.{format}" in the resource listing (service.json) file and "resourcePath": "/project" in the myTest.json file which is what id expect. This does not impact the api path but that is no fixed in terms of regex, so ot

[2015-05-21 16:17] nkoterba commented on #73
@conorroche Thanks for the super quick turnaround! Really appreciate it.

I actually forked and made my own fix/update even with a test fixture named Issue73 =P.  I was going to do some more testing and submit a pull request, but I will instead try to use your updates since it's part of the "baseline".

I noticed your update and will check it out, including the tests.

I noticed you use char itera

[2015-05-21 16:55] nkoterba commented on #73
@conorroche

I think your fix is now 'changing' the resourcePath's to be shorter than they should.

I ran my "Issue73" patch and here was the output of my files:
![image](https://cloud.githubusercontent.com/assets/2508944/7753762/7ab98014-ff9c-11e4-9d8f-e72bb1c441c6.png)

I then ran the current master and here was the output of my files:
![image](https://cloud.githubusercontent.com/assets/2508944/

[2015-05-21 17:15] nkoterba commented on #73
@conorroche One final comment/question.

So I notice in CrossClassApiParser.java, in the constructor, you get the root and parse it:
[code]

And this root later gets used in buildResourcePath, where I've copied your code but use my sanitizePath method:
[code]

But I also added `sanitizePath` method to parsePath in ParserHelper:
[code]

So I guess the question/comment I'm posing here is:
*Should th

[2015-05-21 17:53] conorroche commented on #73
hrmm have u tested in the swagger ui, as far as i can remember the resource path shouldnt be multiple directories but rather be like /res1 which then points to the res1.json file, i agree though that if that is the case you should have ended up with two files for the workspaces e.g. the devices one and the graph one

[2015-05-21 18:45] nkoterba commented on #73
@conorroche

In the middle of some code updates, but the current Github master definitely "drops" files since it appears to create identical "resourcePaths" for different Resources, which results in one of the Resource.json files being overwritten.

[2015-05-21 18:51] nkoterba opened #74 "Class PathParam Variables Not Being Added as Required Parameters to JSON Output"
In very few words:

[code]

Should generate the following JSON:
[code]

But it doesn't because the current code doesn't take into account **CLASS** PathParams, just method PathParams.  Instead the generated JSON is:
[code]

This makes it impossible to test the API from the Swagger UI as the taskId cannot be entered and the correct REST URI is **not** generated by the Swagger UI code.

I am current

[2015-05-21 21:48] nkoterba commented on #74
Some comments and notes:

Class-level `@PathParam` can be used 3 ways inside a class:
1) Injected into a field (notice field here is private, but works):
[code]

2) Injected into a constructor:
[code]

3) Not used at all...while somewhat odd for an API Path expression, @PathParam could never be used/injected anywhere.  However, **some** value would need to be provided for the REST framework to cor

[2015-05-22 01:17] nkoterba commented on #74
Ok so I've made some progress...the following test class:
[code]

Produces this .json successfully:
[code]

Since I'm still learning the code base, and `ApiMethodParser.java` appears to encapsulate quite a few things, I moved a few internal methods in `ApiMethodParser.java` to `ParserHelper.java`.

Since `CrossClassApiParser.java` seemed the most "logical" place to do this, I added this code after

[2015-05-25 16:16] cornelcreanga commented on #72
Hi,
I've checked and it works, thanks, I'll close the issue.

[2015-05-25 16:16] #72 closed

[2015-05-25 16:16] cornelcreanga commented on #71
Hi,
I've checked and it works, thanks, I'll close the issue.

[2015-05-25 16:16] #71 closed

[2015-05-26 17:22] nkoterba commented on #74
I've posted a similar issue at https://github.com/swagger-api/swagger-core/issues/1085 for the Core Swagger project.

A comment there does an excellent job describing JAX-RS possible injection types: https://github.com/swagger-api/swagger-core/issues/1085#issuecomment-105598679

I believe this doclet also suffers from these issues.  I haven't yet tested sub resource locators or setter methods.

-

[2015-05-26 22:16] nkoterba opened #75 "excludeResourcePrefixes Option Not Supporting Multiple Objects"
I've noticed that in `DocletOptions.java` many of the options accept an array of items, e.g.:
[code]

However, I'm having difficulty passing a list of resources to exclude.  I'm using gradle and trying to do this:
[code]

I've spent ~3 hours now trying to figure out the correct syntax (do I use [], do I use spaces, etc.).  I've looked at the JavaDocOptions classes and it looks like `addStringOptio

[2015-05-26 22:59] nkoterba commented on #75
So I've figured out a solution.  It's definitely an issue with the Gradle JavaDocTask plugin not really providing any means to pass an "array" of values into a JavaDoc options property.

**NOTE**, sadly, there is no easy options.addXXX(name, array) method on the JavaDocOptions class.

Here is what I tried:
[code]
Creates:
[code]

Won't work b/c we need items to be separated and also not wrapped as

[2015-05-26 23:14] nkoterba commented on #75
I posted this issue/question at the Gradle forums: https://discuss.gradle.org/t/corejavadocoptions-cannot-set-array-of-values-for-option-property/9820

[2015-05-27 04:22] nkoterba commented on #75
Based on a response from the Gradle team: https://discuss.gradle.org/t/corejavadocoptions-cannot-set-array-of-values-for-option-property/9820

It sounds like one way to accomplish the above is:
[code]

which produces:
[code]

[2015-05-27 04:23] #75 closed

[2015-05-27 04:38] nkoterba opened #76 "@responseType doesn't support primitives"
I have a method that returns a JAX-RS Response object, but in reality it's entity is a string:

[code]

When I try to compile the documentation, I get this error:
[code]

Trying `java.lang.String` also throws the same error:
[code]

The issue is in the `ApiMethodParser.java` class.  Specifically, the ParserHelper.findModel checks a list of PRIMITIVE classes.  However, String is not added to this l

[2015-05-27 04:51] nkoterba commented on #76
I think I've found the issue.  In `ApiMethodParser.java` the line that calls ParserHelper.findModel is passing in `this.classes` instead of `this.allclasses`.

https://github.com/teamcarma/swagger-jaxrs-doclet/blob/master/swagger-doclet/src/main/java/com/carma/swagger/doclet/parser/ApiMethodParser.java#L818

could be changed to `this.allClasses`.  This would ensure primitives are also available fo

[2015-05-27 05:07] nkoterba opened #77 "SuccessCode not being either set in JSON or being sent to UI"
The Swagger UI looks for a data element `successCode` to show what status code the default success response belongs to:

![image](https://cloud.githubusercontent.com/assets/2508944/7829185/5a705142-03f3-11e5-95f5-a9b5ab800bc5.png)

It should look like this:
![image](https://cloud.githubusercontent.com/assets/2508944/7829194/6976efa2-03f3-11e5-8b41-cfeb1ff5230c.png)

The javascript in `swagger-ui.j

[2015-05-27 07:16] conorroche commented on #77
hrmm odd because swagger 1.2 doesnt use successCode that was part of the old 1.1 spec. Now it accepts

"responseMessages": [
            {
              "code": 400,
              "message": "Invalid ID supplied"
            },
            {
              "code": 404,
              "message": "Order not found"
            }
          ]

but the UI must not have been updated to look through the res

[2015-05-27 07:34] conorroche commented on #73
@nkoterba ive committed a fix that solves the dropped files issue, im still looking into the inheritance of paths issue u fixed on ur fork

[2015-05-27 14:00] rbellmf opened #79 "@Size annotation is ignored on String fields"
A bean field like:
	@Size(min = 1, max = 36)
	@NotNull
	private String subject

Will show up in the swagger json as:
        "subject" : {
          "type" : "string"
        }

It should be used to set maxLength and minLength per the @Size documentation(http://docs.oracle.com/javaee/7/api/javax/validation/constraints/Size.html):
        "subject" : {
          "type" : "string",
          "minLen

[2015-05-27 15:42] conorroche commented on #79
note minLength and maxLength are swagger spec 2.0 features and are not part of the 1.2 spec which is why this doclet doesnt support these yet, it will in future when swagger spec 2.0 is supported, there is a separate task for that

[2015-05-27 17:17] nkoterba commented on #77
@conorroche

I've updated my `swagger-ui.js` to look through the responseMessages array and set the correct items based on the data now being sent back.  The `swagger-ui.js` file is rather cumbersome (I'm not a big fan of Backbone or Handlebars...much prefer Angular or Aurelia) so my edits are more "quick hacks" to get the UI to show up correctly.

Feel free to use and/or tweak the `swagger-ui.js`

[2015-05-27 17:50] nkoterba commented on #73
@conorroche Thanks for the quick turnaround!

I looked through the commit files and like the fixes/updates.  Keeping the "/" instead of a "_" seems to work great with the rest of the framework.

As for the inheritance of path issues, as mentioned in that issue (https://github.com/teamcarma/swagger-jaxrs-doclet/issues/74#issuecomment-105610676) it's also a general issue with Swagger core...actually

[2015-05-27 17:55] nkoterba commented on #74
I started converting my "hack" above for my "fix" into something more appropriate by creating a `Constructor.java` model object and an `ApiConstructorParser.java` class with a parse method (similar to how the ApiMethodParser currently handles Methods) that also supports all the various Swagger-JaxRs-Doclet overrides and annotations.  I think it makes sense to create one for Fields too.

My thought

[2015-05-27 19:41] conorroche commented on #74
@nkoterba one thing i was thinking about is whether PathParams that can only be matched to method parameters should be included, e.g. if i have this resource:

@SuppressWarnings("javadoc")
@Path("/api/{p1: [0-9]+}")
public class ClassPathParamResource {

	@PathParam("p2")
	private Integer p2;

	public ClassPathParamResource(@PathParam("p3") String p3) {
		super();
	}

	@GET
	public void get(@PathP

[2015-05-27 20:43] buzzkillington commented on #60
@conorroche ok, thanks.  I'd worked around this in the meantime, but that's good to know for future use.

[2015-05-27 23:36] nkoterba opened #80 "Provide `includeResourcePrefixes` Configuration Option"
Currently, the project supports `excludeResourcePrefixes` configuration option.

However, in our project we have lots of items we'd like to exclude and only a few we'd like to include.  Would be beneficial if instead of providing all the "exclusions", we could just provide the inclusions.

In a gradle task, this would look like:
[code]

[2015-05-28 13:44] cornelcreanga opened #81 "Type identification does not work properly when mixing array types / regular types"
Try to generate the Swagger model from the following class:

@Path("/arrays")
@SuppressWarnings("javadoc")
public class ArraysResource {

	@POST
	@Path("/arrayofstrings")
	public void setArrayOfStrings(String someString, String[] items) {
		// noop
	}
	@POST
	@Path("/arrayofstrings2")
	public void setArrayOfStrings2(String someString, String[] items) {
		// noop
	}
}

The 'someString' parameter fr

[2015-05-28 17:23] nkoterba commented on #74
@conorroche

So it probably makes sense to re-visit the JAX-RS spec (which I haven't) to see what should be valid `@PathParam` settings and not.

My general understanding is that `@PathParam` can appear only on:
[x] Fields
[x] Constructor
[x] Methods

However, `@PathParam` really is just used to reference a variable set in a `@Path` annotation.

So it makes no sense to have `@PathParam` values tha

[2015-05-28 17:34] nkoterba commented on #74
@conorroche

After reading through my *long* message above, I realized there is one way we could handle all situations and make updating the code base easier:

We could define an additional set of annotations that would allow one to clarify any `@PathParam` in the `@Path` annotation on the Class.

For example:
[code]

I noticed with some of your other annotations, you just list them all (although

[2015-05-28 18:17] nkoterba opened #82 "Update Documentation for Gradle Users in Resolving Models"
In the current documentation/ReadMe.md, the documentation for `@responseType` has the following:

*NOTE: if the response class is not in the same maven project as the one the doclet plugin is on then you will need to include the response class in the source of your project. One way to do this in maven is to use the maven-dependency-plugin's unpack goal to unpack the *.java files of the dependency

[2015-05-28 18:29] nkoterba opened #83 "Java 8 tools.jar API Compatibility Issue"
So I'm building/running this project from source versus downloading via Maven so I can tweak/update things to better fit our scenario.

However, the current source relies on Java 7 JavaDoc API specifications.  As far as I can tell the only API call in the current code base that is not Java 8 compatible is `RootDocLoader.java`'s call to `getRootDocImpl`.

An extra parameter has been added in Java 8

[2015-05-29 07:38] conorroche commented on #83
i would lean towards either making the minimum source compatibility java 8 (java 7 is end of life since april) or using reflection, there are some features of java 8 javadoc that would have been useful such as being able to directly get the type of an array, so my preference is to move to java 8 unless someone has a big issue with it?

[2015-05-29 08:25] joepadmiraal commented on #83
No problem for me :)

[2015-05-29 09:24] joepadmiraal opened #84 "Add support for data type format"
With the Swagger 1.2 spec it is possible to add extra information about a primitive field.
https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#dataTypeFormat

I would like to use this to give extra formatting information about an object that was specified as a string with -stringTypePrefixes.

I am thinking about adding adding a -typeFormats parameter which allows to specify cl

[2015-05-29 11:44] conorroche commented on #84
i wonder would it be better to leave stringsTypePrefixes represent strings, and instead have intTypePrefixes, longTypePrefixes, booleanTypePrefixes  etc?

[2015-05-29 12:07] joepadmiraal commented on #84
I think that's another discussion, it does not solve my problem.
Also for our api's I don't immediately see a use case for representing an existing class as an boolean or integer.

[2015-05-29 12:15] conorroche commented on #84
the format in the swagger spec is not free form, it only allows very specific values based on the type,

https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#431-primitives

[2015-05-29 12:22] joepadmiraal commented on #84
Ah I see it is defined that way in the 1.2 spec.
The 2.0 spec is allowing it:
https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md#data-types

If you want to keep the doclet pure 1.2 you can close this ticket.

[2015-05-29 12:30] conorroche commented on #84
i do want to move towards 2.0 so will keep this open

[2015-05-29 14:13] joepadmiraal commented on #84
Great,
I will need to make such a change in my fork of this project.
Which solution does appeal most to you?
I will work with that until this project is upgraded to 2.0.

[2015-05-29 16:13] nkoterba commented on #83
@conorroche FYI...all I did was change this method in the `RootDocLoader.java` class and it compiled fine against Java 8:

[code]

Note the addition of `new ListBuffer<JavaFileObject>().toList(),` to the parameter list.

The pom.xml file should also, obviously be updated, to use 1.8 for the `tools.jar` lib.

Mine was always pulling in whatever was in `JAVA_HOME` which was always Java 8 (and what l

[2015-06-01 08:48] dwalden opened #85 "private members should not be documented by default"
Hi,
This issue was found on master, revision 4af5927fae4748f361b86fb98caf08ba9f4ddb45 at the time.

If I specify @XmlAccessorType(XmlAccessType.NONE), only members with the @XmlAttribute annotation are included in the json output, as expected.
Example:
[code]
... results in this output:
[code]
But if I don't specify @XmlAccessorType(XmlAccessType.NONE), then ALL members are included.
Example:
[cod

[2015-06-08 16:30] OskarKjellin commented on #51
@conorroche Any plans on supporting this for parameters as well? I've set @Min(1) on my query parameter but it's not getting picked up when generating.

[2015-06-17 09:24] mjiderhamn opened #87 "Documentation of java.lang.BigDecimal does not match serialization"
A `java.lang.BigDecimal` that is serialized to JSON using Jersey 2.17/Jackson 2.3.2 will be represented as only the numeric value.
swagger-jaxrs-doclet however will produce `BigDecimal` and `BigInteger` types, that make the documentation both confusing and incorrect.
[code]
I'm assuming the same goes for `java.lang.BigInteger`

[2015-06-19 12:02] dwalden commented on #87
+1

[2015-06-25 13:53] xverges opened #89 "Something equivalent to @ApiParam(allowableValues="one,two")"
http://docs.swagger.io/swagger-core/v1.3.12/apidocs/com/wordnik/swagger/annotations/ApiParam.html#allowableValues%28%29 results in a parameter defined with the `enum` attribute
[code]
that results in a nice swagger-ui dropdown.

Can something like this be built using javadoc tags?

[2015-07-08 18:47] Randgalt opened #91 "No description or extra tags"
My api json files are getting generated correctly but the javadoc comments, @description tags etc. are not being recognized for some reason - i.e. no description, summary, etc. are added to the swagger json files.

Maven: 3.3.3
Java: 1.8.0
Swagger-Doclet: 1.0.4.2

E.g.

[code]

test.json: https://gist.github.com/Randgalt/1f3baf6647f56d90ceb5
service.json: https://gist.github.com/Randgalt/2f8eecc27

[2015-07-08 21:29] Randgalt commented on #83
I wonder if some of the issues I'm having (no summaries, descriptions, etc.) are due to changes in Java 8: https://docs.oracle.com/javase/8/docs/technotes/guides/javadoc/doclet/transition-1.5docletapi.html

[2015-07-13 19:48] conorroche commented on #54
closing as I believe this has been fixed

[2015-07-13 19:48] #54 closed

[2015-07-13 23:00] conorroche commented on #74
@nkoterba ive finally gotten around to implementing a fix for this, if its still relevent to you perhaps you can see if it seems ok?

[2015-07-14 08:47] conorroche commented on #76
Ive now applied this fix to the master

[2015-07-14 08:47] #76 closed

[2015-07-14 08:55] conorroche commented on #70
@dwalden do you know if swagger ui 2.1.0 has this issue? id prefer to ship a release version of the swagger ui with the doclet, note the doclet already supports the following sorting:

1) for ordering the resources in the resource listing it supports sorting by the path and/or by a priority value
2) for the endpoints within a resource it supports sorting them by path

you can add the -sortResource

[2015-07-14 09:20] conorroche opened #92 "merge gradle related updates from nktobera fork"
merge gradle related updates from nktobera fork

[2015-07-14 09:23] dwalden commented on #70
Hi @conorroche , I haven't tried 2.1.0.

[2015-07-14 09:32] conorroche commented on #80
@nkoterba I have now added support for includeResourcePrefixes to the master

[2015-07-14 09:32] #80 closed

[2015-07-14 09:53] conorroche commented on #81
@cornelcreanga thanks for the detailed description of the issue made it easy to fix, ive applied a fix for this to the master now.

[2015-07-14 09:53] #81 closed

[2015-07-14 10:01] conorroche commented on #73
issue now resolved so closing out

[2015-07-14 10:01] #73 closed

[2015-07-14 10:07] conorroche commented on #83
@nkoterba whats the url for your fork again? im looking to merge in your gradle config and wanted to look at it

[2015-07-14 10:45] conorroche commented on #85
as far as I can recall other users expected the opposite, e.g. if you dont specify then private fields will be included and they mark the fields to exclude individually e.g. using @XmlTransient or @hidden, to avoid breaking things for those people I have added a new flag you can set -defaultModelFieldsXmlAccessType which will give you the behaviour you expect.
Can you check it out and tell me if i

[2015-07-14 11:25] dwalden commented on #85
Hi @conorroche, I'm happy with the proposed solution. I did a clone of this repo but looks like the change hasn't been made?
[code]

[2015-07-14 12:01] conorroche commented on #87
I have now added support for big decimal and big integer. I treat big decimal as a double and big integer as a long.

[2015-07-14 12:10] conorroche commented on #85
@dwalden i hadnt pushed properly, I have done so now

[2015-07-14 13:19] nkoterba commented on #83
https://github.com/nkoterba/swagger-jaxrs-doclet

See the build.gradle file comments to see how I'm working around "java 7" tools.jar on a "java 8" installed machine.  I'm not a Gradle pro so perhaps there's a way to specifically call out the java 7 tools.jar on a system where both Java 7 and 8 are installed.

Furthermore, I'm only interested in swagger doclet, so that's the only directory where I

[2015-07-14 15:41] conorroche commented on #89
Currently only java enums are translated to allowable values, I will add support for javadoc tags that can do the same

[2015-07-14 16:27] xverges commented on #89
Great news! Thanks!

[2015-07-14 16:34] conorroche commented on #89
I have now added support for this using the tag @paramsAllowableValues

here is an example:

/**
	 * @paramsAllowableValues p1 A p2 B p1 C
	 * @paramsDefaultValue p1 C
	 */
	@PUT
	@Path("/4")
	public void putEnum(@QueryParam("p1") String p1, @QueryParam("p2") String p2) {
		// noop
	}

[2015-07-14 16:41] conorroche commented on #84
I would lean towards using an @format tag for fields similar to tags like @min, @max etc
for method parameters I would use @paramsFormat p1 key-with-numbers p2 date
I am happy to add and leave the value as being free form but with the understanding that for 1.2 user should only choose one of the supported values and for 2.0 can be whatever you want

[2015-07-14 19:32] nkoterba commented on #74
@conorroche I'll take a look later this week.  We've moved on to other parts of our app since Swagger-JaxRS-Docklet via my fork currently works for what we need.

If your fix works I'll probably try to move back to your GIT repo since I see a lot of the other issues have been fixed as well.

[2015-07-14 21:16] conorroche commented on #84
@joepadmiraal I know support custom formats for string types using @format tag on fields and @formats on methods, for example:

/**
	 * @formats p1 date p2 date-time
	 */
	@POST
	public Data postData(Data data, @QueryParam(value = "p1") String p1, @QueryParam(value = "p2") String p2) {
		return data;
	}

and on a model:

/**
	 * @format date
	 */
	@SuppressWarnings("unused")
	private String format

[2015-07-14 21:30] conorroche commented on #82
@nkoterba thanks for this, ive updated the readme

[2015-07-14 21:30] #82 closed

[2015-07-15 06:48] conorroche commented on #89
closing as fixed for 1.0.5 release

[2015-07-15 06:48] #89 closed

[2015-07-15 06:48] conorroche commented on #87
closing as fixed for 1.0.5 release

[2015-07-15 06:48] #87 closed

[2015-07-15 06:50] conorroche commented on #85
closing for 1.0.5 release

[2015-07-15 06:50] #85 closed

[2015-07-15 06:51] conorroche commented on #84
closing for 1.0.5 release

[2015-07-15 06:51] #84 closed

[2015-07-15 07:14] joepadmiraal commented on #84
Thanks!

[2015-07-15 09:32] conorroche commented on #91
The annotations should come after the /** **/

[2015-07-15 09:32] #91 closed

[2015-07-15 09:35] conorroche commented on #83
@nkoterba the master branch (1.1.0-SNAPSHOT) has now been updated to work with java 8

[2015-07-15 09:40] #83 closed

[2015-07-15 09:41] conorroche commented on #92
merged in the gradle build file for the swagger doclet jar sub module

[2015-07-15 09:41] #92 closed

[2015-07-15 10:45] conorroche commented on #70
ive upgraded the embedded ui to swagger 2.1.0 and it looks to be fixed, it may have been down to the sorter parameter in index.html changing to apisSorter or may have just been a bug with the 2.1.8-M1 ui version that was previously embedded

[2015-07-15 10:45] #70 closed

[2015-07-15 10:47] conorroche commented on #77
Ive now upgraded to swagger ui 2.1.0 as the embedded ui version and this issue has been resolved by it.

[2015-07-15 10:47] #77 closed

[2015-07-16 08:16] dwalden opened #94 "generation time seems much slower"
Hi,
I'm using the doclet from an ant script. I noticed that my build time seems to have increased drastically:
2adb450 - 23 seconds
831e8f7 - 1 minute 24 seconds

I experimented with the number of packages I included in my doclet, and the time seemed to go up slightly exponentially.

My ant script looks like this:
[code]
The reason this is a problem for me is that I want it to be quick for develop

[2015-07-16 09:15] conorroche commented on #94
am i correct in thinking you looked at v1.5.0 and noticed it was a lot slower than v1.0.4.2 then drilled into it further and saw the degradation seems to have occurred with the fixes for issue 71? We have quite a lot of classes that are documented and looking at the 1.1.0 version thats built a little quicker than the previous (though that might just mean the doclet runs faster under java 8 for our

[2015-07-16 10:42] dwalden commented on #94
Hi @conorroche, thanks for your quick response... actually I had checked out revision 2adb450 as it was the latest on master at the time and had some fixes I needed. As a result of your recent v1.1.0 I upgraded and so I just simply trawled through the revisions building and trying each one until I found the place where the generation time suddenly increased. I wasn't really looking at tags specifi

[2015-07-24 15:39] conorroche opened #97 "if there are multiple response messages with the same http code only 1 is documented"
the embedded swager ui that came with v 1.0.5 of the doclet showed multiple response messages with the same code, however since 1.1.0 where i upgraded swagger ui to 2.1.0 release version only 1 response message per code is shown.

[2015-07-24 15:41] conorroche commented on #97
see https://github.com/swagger-api/swagger-ui/issues/1489 for a detailed description of this.

For now I will do a pull request that patches the swagger ui to document a possible patch for people that really want the messages to display as they did previously. This is not recommended for long term use.

I will then support grouping the messages with the same code together so the ui does not need t

[2015-07-24 16:31] conorroche commented on #97
a patch for the swagger ui is here: https://github.com/teamcarma/swagger-jaxrs-doclet/pull/98

[2015-07-26 06:39] conorroche commented on #97
ive made a fix now to group messages for the same http code together

[2015-07-26 06:39] #97 closed

[2015-07-27 15:30] neich opened #99 "JsonView on parameters ignored?"
Hi,

I'm trying to use JsonView for a parameter that represents the body of a POST request. While JsonView works great for return types, it ignores the view in the POST case. This is the method:

[code]

The swagger doc show all fields in body. Am I missing something ? Thanks in advance

[2015-07-28 08:47] aquarahul opened #102 "-resourcePath additionalParam does not work, instead -resourceRootPath does the magic"
Firstly, i am new to swagger and to this plugin. With its uniqueness of generating swaggger json files from existing javadoc comments, we are using it. That helped us big time, in not touching any of the existing files or adding any new annotations.

However, when i tried using -resourcePath <name> in my pom.xml, it reported javadoc error of unknown flag of "resourcePath". Well searching on existi

[2015-07-29 22:47] conorroche commented on #94
Hi @dwalden I have just committed some performance improvements for some bottlenecks that I identified through profiling, can you let me know how this impacts on your generation time?

[2015-07-30 05:42] dwalden commented on #94
Hi @conorroche, thanks for looking at this. Sadly there isn't any significant change in generation time:
v1.1.0: 1 minute 22 seconds
528153beacec4b2d253d5e2b07e2a58755fd12c5: 1 minute 25 seconds

I can try doing some profiling myself.

[2015-07-30 18:09] conorroche commented on #94
@dwalden i've made a commit to support adding a 30 sec sleep before and after the doclet processes, this is to give enough time to connect a profiler to it and record, this is enabled by adding the doclet option -profileMode
Our APIs are made up of 33 resources that references about 216 domain entities and generation is quick e.g. 8 secs. If you could profile that would help as its something speci

[2015-07-30 18:24] conorroche commented on #94
@dwalden can you also try to restrict the classes/packages that are processed to only the ones that contain the jaxrs resources and associated objects

e.g. -includeResourcePrefixes com.mycompany.api.services,com.mycompany.api.domain

ive just done a commit to make class/package name exclusion happen first before bothering to inspect any tags/annotations on the classes so that will make this a lit

[2015-07-31 14:21] dwalden commented on #94
I've had a quick look with this (very cool) profiler. Results so far...

![capture](https://cloud.githubusercontent.com/assets/12455949/9009054/d137bf48-379e-11e5-8d72-98b9a344add0.PNG)

The addAll() method invocations take roughly one minute, which appears to account completely for the performance degradation.

When profiling my "pre-degradation" revision (2adb450) the addAll() method invocation

[2015-07-31 15:14] conorroche commented on #94
@dwalden interesting i wonder if some of your classes have odd/slow implementations of hashcode and or equals or if its the volume of classes, anyways i've commited a change that moves the merging of normal model classes and the special type classes to the class parser so means it will be done once per class not once per method, also ive changed it to use an arraylist instead of a hashset

[2015-07-31 16:01] conorroche commented on #102
@aquarahul thanks for spotting this, ive fixed the readme now.

[2015-07-31 16:01] #102 closed

[2015-07-31 16:21] dwalden commented on #94
Hi @conorroche,
Time: 1 minute 7 seconds

Profiling results:
![capture2](https://cloud.githubusercontent.com/assets/12455949/9011884/c6aca95a-37b0-11e5-8cf0-27a81c9f21e2.PNG)

[2015-07-31 16:38] conorroche commented on #74
@nkoterba wondering if u had a chance to look into this again?

[2015-07-31 16:38] conorroche opened #103 "merge java-methods only differing by mimetypes into one swagger-operation"
merge java-methods only differing by mimetypes into one swagger-operation, there is a pull request for this, may look at doing a java 7 source compatible version and other changes discussed

[2015-07-31 16:41] conorroche commented on #99
@neich this isnt supported at the moment, i should have time to work on it this weekend

[2015-07-31 18:44] conorroche commented on #94
@dwalden i've committed a performance improvement for the latest bottleneck u showed

[2015-08-03 04:54] dwalden commented on #94
Hi @conorroche,
Time: 28 seconds
:smiley:

Thank you for fixing this.

[2015-08-03 04:54] #94 closed

[2015-08-03 17:25] conorroche commented on #94
@dwalden could you send me on a profiling screenshot for the latest i would like to check if there is any other obvious performance improvement i could make

[2015-08-04 05:13] dwalden commented on #94
@conorroche here you go.

![capture3](https://cloud.githubusercontent.com/assets/12455949/9053594/47417aaa-3a77-11e5-9abb-835d8cab5699.PNG)

Of note, the timings I have been giving in this issue also include some dependent tasks.
With your fixes, the total time is reduced to 28 seconds.
Of that, the actual swagger-doclet time is 6 seconds. Very impressive.

[2015-08-04 08:43] OskarKjellin opened #104 "Support for java 8 date types"
I see you do support setting the old fashioned `java.util.Date` as a string with format of date. Would be nice to support some more of the java 8 date types such as `OffsetDateTime`, `LocalDate` and so forth.

[2015-08-06 07:36] shaikjahoorulla commented on #29
Any update on the timeframe for the support of 2.0 spec?

[2015-08-06 17:52] nkoterba commented on #74
@conorroche Still haven't had a chance to check it out unfortunately.  We have a big demo next Tuesday so I doubt I'll get to it before then.  However, I'll check it out later next week once things settle down.

Would prefer to use your main repo/lib than a fork...

[2015-08-31 12:36] vvalchev opened #106 "the doclet doesn't support {@link}, {@see} .. etc."
When the javadoc contains tags, like the one above, the generated description contains something like

[code]

I've tracked the problem to ParserHelper.getInheritableCommentText(), which uses methodDoc.commentText(). The documentation of that method actually says, that tags like {@link} will be removed, but that's not true.

Instead the method should be modified to use methodDoc.inlineTags() and c

[2015-08-31 12:47] vvalchev commented on #106
I have a working patch for the problem that
* modifies ClassDocCache to support java7 syntax (this is only java 8 syntax you use in the code, and build infrastructure in companies usually doesn't have the latest stuff installed)
* ParserHelper.getInheritableCommentText() calls a new helper to process the tags
* adds TagHelper.java
* adds extlink.properties - it contains package-to-external-link ma

[2015-09-04 13:22] conorroche commented on #104
@OskarKjellin ive added support for java 8 date time types now

[2015-09-04 13:31] OskarKjellin commented on #104
@conorroche Awesome! I'll try it out soon. One question though, when we upgrade to the latest version, the description per API disappears?

[2015-09-04 13:47] conorroche commented on #104
@OskarKjellin i wasn't aware of that can you give me more details e.g. give me some example source of your resource and the generated json thats different? I do know there is an issue ive just noticed in terms of some endpoints of ours not getting documented which im looking into atm

[2015-09-07 10:54] conorroche opened #107 "some resource class methods are getting ignored"
some resource class methods are getting ignored - this happens on some specific carma resources, we have a resource factory class and methods of this class are getting ignored as it appears to treat this class incorrectly as a sub resource

[2015-09-07 10:58] conorroche commented on #107
fixed

[2015-09-07 10:58] #107 closed

[2015-09-11 07:40] adamdougal opened #108 "Ability to add additional params"
I've currently got doclet setup and running great in a gradle-dropwizard application.
However I have a couple of servlet/resource filters which require extra headers to be sent.
Traditionally in swagger you would add a @ApiImplicitParams annotation.
Is there any way to achieve this using swagger-jaxrs-doclet?

[2015-09-11 09:32] conorroche commented on #108
its not currently supported but i should have time to add it in the near future

[2015-09-16 04:53] yizhangy opened #109 "An illegalStateException occurs when REST method's argument contains two classes with same name"
I have a REST resource take a DTO class as argument. This dto class has two properties, which have same class name but in different package. For example:
[code]
UserDto class contains two properties, which have same class name but in different package
[code]

When I use swagger-jaxrs-doclet to generate java doc. I get exception:
[code]
The method's model id should use qualified class name.

[2015-09-17 18:55] bedag-moo opened #110 "Support conversion for value types in models"
We sometimes use custom value types to enforce type safety in our model, and register converters to unwrap these values into strings. Is there any way we can have the doclet recognize these type replacements when generating the swagger documentation?

Specifically, I have something like:

    public class Model {
        public TechId id;
    }

    @XmlJavaTypeAdapter(TechId.XmlConverter.class)

[2015-09-17 20:58] bedag-moo commented on #110
Meanwhile, I found the -stringTypePrefixes option, which can act as a work around. I must have missed it in the wall of options.

Still, if it isn't too much trouble, it would be nice for the doclet to detect the type mapping automatically.

[2015-09-21 19:49] cviebig commented on #35
Hi Conor, I left the project at the end of december and was busy with other stuff in the meantime and did not had access to the code. Thank you very much for the work you put in.

According to `mvn dependency:tree` the project is running `org.codehaus.jackson:jackson-*` 1.9.2.

It seems that I must have posted the wrong return value when I wrote the test case above. It should return the `User` obj

[2015-09-22 10:41] conorroche commented on #104
@OskarKjellin are you still having the problem you mentioned?

[2015-09-22 11:36] conorroche commented on #99
@neich I have just committed support for this, let me know if it works for you

[2015-09-22 11:39] conorroche opened #111 "exclude AsyncResponse from documented parameters"
AsyncResponse is an injected internal parameter and should not be included in the documentation

[2015-09-22 11:45] conorroche commented on #111
committed fix

[2015-09-22 11:45] #111 closed

[2015-09-22 20:48] conorroche commented on #109
@yizhangy I have added a doclet option -useFullModelIds that should solve your problem, i did not enable it by default as for most people the shorter model id will look better, can you test and let me know if it works ok for you?

[2015-09-23 11:37] neich commented on #99
Thanks! Unfortunately we had to adopt another strategy and we are no longer using @JsonView. The main problem is that some fields of the same entity are required when POSTing but optional (or even no present) when GETing. Password is an example. For this to work, we need to have separate classes, one for POST and other for GET. That way, password is @Required in the POST version, but it does not e

[2015-09-24 06:41] yizhangy commented on #109
@conorroche Thanks. I will try it.

[2015-09-25 17:29] conorroche commented on #108
@adamdougal I have now added support for implicit params, take a look at the @implicitParam tag description in the readme, in the simple form you can add a javadoc tag like this:

@implicitParam p1|string|header

[2015-09-29 21:29] yizhangy commented on #109
@conorroche The version I used is swagger-doclet-1.0.6-SNAPSHOT.jar and failed with '-useFullModelIds' flag. Can you please point to me which version of jar for working with this flag? thank you

[2015-09-29 21:46] conorroche commented on #109
i have not merged this fix onto the java 7 branch, its only on the java 8 master so the version that its on is 1.1.2-SNAPSHOT

[2015-10-08 17:00] gautampriya opened #113 "@responseType java.util.List<java.lang.String> should not need sources"
When trying to set the @responseType java.util.List<java.lang.String> or any of the java collection types, it requires sources. Any chance that sources not be required for the java collection types.

[2015-10-08 18:19] conorroche commented on #113
one of the tests uses @responseType java.util.List<String> but not java.util.List<java.lang.String> can you check if the former works for you, is there a stack trace or other error you are seeing and finally can you confirm what version you are using?

[2015-10-09 16:47] gautampriya commented on #113
so I was actually trying to set @responseType to java.util.Map<java.lang.String, java.util.Collections<java.lang.String>>. This resulted in an error that told me some thing to the effect of (as stated in the documentation of @responseType on this page https://github.com/teamcarma/swagger-jaxrs-doclet) -
NOTE: if the response class is not in the same maven project as the one the doclet plugin is on

[2015-10-16 00:49] gautampriya opened #114 "Why are models generated with an "id" attribute as shown in bold."
"models" : {
    "ErrorMessage" : {
   ** "id" : "ErrorMessage" **
      "properties" : {
        "message" : {
          "type" : "string",
          "description" : "Description of the error condition"
        },
        "status" : {
          "type" : "string",
          "description" : "Contains redundantly the HTTP status of the response sent back to the client in case of\n error, so one does

[2015-10-16 05:25] conorroche commented on #114
the id is a required field for models as per the swagger spec: https://github.com/swagger-api/swagger-spec/blob/master/versions/1.2.md#526-models-object

[2015-10-16 15:29] gautampriya commented on #114
Yes, you are right. I forget that this doclet still creates a swagger 1.2 compliant api declaration and that the "id" field of model object has been removed from swagger 2.0. I know that you guys were going to roll out a swagger 2.0 compliant doclet some time ... did you guys put that on the back burner for a bit?

[2015-10-16 16:57] cviebig commented on #35
@conorroche Can we reopen this bug?

[2015-10-19 20:34] conorroche commented on #114
@gautampriya  i'm the only major committer at present and can only work on it every so often in my spare time so am currently only able to work on reported bugs, i hope to have more time to work on a 2.0 version at some stage but thats going to be a chunky feature so realistically will be a fair while

[2015-10-19 20:35] conorroche commented on #109
@yizhangy can you confirm if this is ok for you now?

[2015-10-19 20:36] conorroche commented on #108
@adamdougal did you check if this works ok for you? id like to close this if so.

[2015-10-19 20:37] conorroche commented on #74
closing as havent heard back on it

[2015-10-19 20:37] #74 closed

[2015-10-19 20:40] conorroche commented on #99
closing as i believe this is resolved and original raiser is not in position to confirm

[2015-10-19 20:40] #99 closed

[2015-10-19 20:43] conorroche commented on #104
closing as i believe fixed and no feedback

[2015-10-19 20:43] #104 closed

[2015-10-19 20:48] conorroche commented on #35
@cviebig yes will take a look

[2015-10-20 01:16] yizhangy commented on #109
@conorroche at this moment I am not working on our build script. I did not verify it. I will let you know when our build pass.

[2015-10-20 12:05] adamdougal commented on #108
Hey, really sorry, been away and completely forgot about this.

Just tried it out just now and works perfectly!

Thanks!

[2015-10-20 12:05] #108 closed

[2015-10-20 19:21] conorroche commented on #35
@cviebig ive being looking into this and have made quite a bit of progress but im having a problem with the test case you described in the various posts, i wanted to confirm the json jackson generates but am getting the below error, so can you repost the resource and all related model classes again so i can make sure im testing against the correct scenario.

com.fasterxml.jackson.databind.JsonMapp

[2015-10-21 15:09] cviebig commented on #35
Hi @conorroche, this is set of classes I used to produce the output above: https://gist.github.com/cviebig/1e46aaef485ce97dc322

[2015-10-26 14:28] bedag-moo commented on #29
Same question, prompted by https://github.com/swagger-api/swagger-codegen/issues/1241#issuecomment-150990988.

I don't need an accurate date, but a rough guess would be helpful. Is this expected to take weeks, months, or years?

[2015-10-30 16:24] baev opened #115 "Could not com.fasterxml.jackson.databind.MapperFeature for Jackson"
As far as I can see there is no support for `MapperFeature`, only for `SerializationFeature`

[2015-11-02 13:16] dzharikhin opened #116 "-subTypesAnnotations doesn't work"
Try to pass -subTypesAnnotations to maven-javadoc-plugin fails. Seems it's not described in
public static int optionLength(String option)

[2015-11-05 16:59] rmpestano opened #119 "format Calendar field"
Hi guys,

how do I format a Calendar field?

In my application all Calendar fields are mapped to [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)  but in my swagger spec all calendar fields are mapped.

How can I tell swagger the date format I am using?

[2015-11-13 09:49] jontejj opened #121 "Merging several service.json"
In our project we have several maven modules that each contain their own api. Our maven config:
					<execution>
						<id>generate-service-docs</id>
						<phase>generate-resources</phase>
						<goals>
							<goal>javadoc</goal>
						</goals>
						<configuration>
							<doclet>com.carma.swagger.doclet.ServiceDoclet</doclet>
							<docletArtifact>
								<groupId>com.carma</groupId>

[2015-11-13 11:05] jontejj commented on #121
How should cleans be handled in that case? If entries are appended without being removed, each build will increase the file size. We solved this by customizing the clean plugin to remove the files.

[2015-11-13 11:16] conorroche commented on #121
i would have a separate module for generating the api doc, so there would only be one invocation of the javadoc and a single swagger resource listing, all you need in the api doc module is to pull in the class files and source files from the other modules

[2015-11-13 11:17] conorroche commented on #121
for example:

Pom of api doc module:

&lt;dependencies&gt;
    &lt;!-- API Sources --&gt;
    &lt;dependency&gt;
      &lt;groupId&gt;com.acme.api&lt;/groupId&gt;
      &lt;artifactId&gt;api1&lt;/artifactId&gt;
      &lt;version&gt;${project.version}&lt;/version&gt;
      &lt;classifier&gt;sources&lt;/classifier&gt;
      &lt;scope&gt;provided&lt;/scope&gt;
      &lt;optional&gt;true&lt;/optional&

[2015-11-17 09:31] e99majo opened #122 "Does not support jackson v1 JsonProperty"
The doclet does not support org.codehaus.jackson.annotate.JsonProperty and org.codehaus.jackson.annotate.JsonIgnore.

Also there is an issue with the "issue66Test" testcase. The code will generate an org.codehaus.jackson.map.JsonMappingException if executed, since there is a conflicting JsonProperty definition.

[2015-11-19 17:16] allenh opened #124 "Swagger codegen treating Response as a model"
Swagger Codegen is treating Response as a model that should be provided by the JSON when it really should be a reference from javax.ws.rs.core.Response

Java code to be generated: https://gist.github.com/allenh/2089f4f29089d0f6ed84
Generate JSON code: https://gist.github.com/anonymous/5f9d1930d1749761602e

As I'm not entirely sure where the problem lies so I am wondering if anyone who is having th

[2015-11-19 21:27] gautampriya opened #125 "@implicitParam not working"
Using ```@implicitParam paramName|fully.qualified.path.to.DataType|query``` on an operation does not add it to the method's ```query``` parameter in the generated swagger json. Neither does it generate the ```"models"``` entry for ```fully.qualified.path.to.DataType```.

Please advise if I am missing something?

[2015-11-20 16:06] cviebig commented on #35
Hi @conorroche, Is there some specific thing I could investigate in the mean time? Otherwise I could just try to step through the code trying to understand how it scans the classes :)

[2015-11-20 22:33] gautampriya opened #126 "jackson v1 @JsonIgnore not being honoured"
When a model field or method is @JsonIgnore'd, it should not be written to the generated swagger doc.

[2015-11-24 05:36] yizhangy commented on #109
@conorroche  have you merged this fix into the java 7 branch.

[2015-12-09 15:18] conorroche commented on #35
@cviebig sorry its taken so long to come back to you im struggling to get spare time atm to work on this but have now merged in my fixes for this so you can check how the latest snapshot works for you, note the models you gave me wont work with jackson 2 due to recursive issues, i assume they work for you on jackson 1.
You can take a look at this pr https://github.com/teamcarma/swagger-jaxrs-docle

[2015-12-09 17:51] #126 closed

[2015-12-09 17:51] conorroche commented on #122
@e99majo ive merged in your pull request, nice work thanks a lot.

[2015-12-09 17:51] #122 closed

[2015-12-09 18:04] conorroche commented on #115
@baev can you give me an example of what you want to use this for? the reason i ask is that being able to set them on the object mapper used by this project to convert the swagger java model into json would not do much, instead i could see them being used to control how the java model classes of an api get parsed, for example USE_WRAPPER_NAME_AS_PROPERTY_NAME

[2015-12-09 18:06] conorroche commented on #125
query parameters cannot be complex objects, it would need to be a body param so try

@implicitParam paramName|fully.qualified.path.to.DataType|body

[2015-12-09 18:11] conorroche commented on #125
closing as afaik is not a bug, have revised the docs to explain the above

[2015-12-09 18:11] #125 closed

[2015-12-09 20:12] gautampriya commented on #126
Great. Thanks.

[2015-12-11 10:57] karjy01 opened #129 "Input Model schema default value not populating"
Hi,

Can anyone please suggest me how can I populate default values in model schema?
I am using following maven configurations:
 `<doclet>com.carma.swagger.doclet.ServiceDoclet</doclet>`
         `<docletArtifact>`
                 `<groupId>com.carma</groupId>`
                 `<artifactId>swagger-doclet</artifactId>`
                 `<version>1.0.5</version>`

Annotation in the service class i

[2015-12-11 11:20] conorroche commented on #129
the default value javadoc tag is case sensitive so should be @defaultValue like this:

/**
	 * @defaultValue true
	 */
	boolean trueFieldTag;

note there is a testcase ValueConstraintsTest and associated  test model and json in fixtures.valueconstraints

[2015-12-11 13:41] karjy01 commented on #129
Hi conorroche,

Thanks for such a prompt response.
Now I am able to see "defaultValue" in the generated json files. But it is not reflecting in the swaggerUI.
When I change the "swagger-ui.js" with the latest version it is working fine, but with auto generated "swagger-ui.js" it is not working.

I am currently using swagger-jaxrs-doclet version 1.0.5.
Is there any workaorund for this? Or do I need

[2015-12-11 14:55] conorroche commented on #129
i wasnt aware of an issue with the built in swagger ui, you can always use your own ui files and disabled the ones that come with the doclet using the skipUiFiles option. i wont have a chance to look into this for a while and will probably just upgrade to the latest ui prior to the next 1.0.x release which from what u say should work ok

[2015-12-13 23:18] cviebig commented on #35
You're my hero :)
It's so great to see it working now, thank you so much!

Also thank you for your note regarding the recursiveness. I'll look into this when it's the time for migration but actually wonder why this behauvior changed as `JSONView`s are a very comfortable way to avoid endless recursion in POJOs with bidirectional relations while being able to maintain many different views on the sam

[2015-12-14 06:59] karjy01 commented on #129
Thank You conorroche, for the time I will replace the swagger-ui.js manually and continue.

Thanks
karjy01

[2015-12-16 12:28] karjy01 commented on #129
Hi conorroche,

I am reopening this thread for another question regarding @defaultValue.

I have a requirement where one of the input model attribute is a String array and I want to display default array in swagger for this attribute. I am correctly using @defaultValue to show String values but is there a way so that I can show a default array also for e.g ["aaa","bbb","ccc"]??

Please let me know

[2015-12-20 12:33] conorroche commented on #35
closing as has now been fixed

[2015-12-20 12:33] #35 closed

[2015-12-22 13:04] karjy01 commented on #129
Can anyone please update me on this? I know defaultValue should always be a single value and array is not supported. But is there a way to generate the JSON with defaultValue as an array["X","Y"] ?

[2016-01-13 07:59] skasten opened #130 "Map java.util.Calendar in model?"
Hello,

we provide services which are JAX-WS and JAX-RS enabled. One of our response classes holds a "timestamp" attribute, which is from the java.util.Calendar type. This is needed for the JAX-WS mapping.

We use Jersey for JAX-RS and it has no problem with the Calendar, it gives back a long-timestamp in the JSON-result.

The problem is that the swagger-jaxrs-doclet treats the Calendar as part of

[2016-01-13 08:03] skasten commented on #130
Here is an example of the model from the doclet:
[code]

[2016-01-13 08:06] skasten commented on #130
And here is the real result from the service:
[code]

[2016-01-28 12:28] conorroche commented on #130
@skasten ive just committed a fix to support calendar, note it by default is treated as a string with format date-time, if you want it to be treated as a long then there is a new option you can use -longTypePrefixes java.util.Calendar

[2016-01-28 12:33] conorroche commented on #119
@rmpestano ive just committed a fix to treat Calendar as string with format date-time, in swagger date-time is as  ISO 8601

[2016-01-28 12:33] #119 closed

[2016-01-28 12:37] rmpestano commented on #119
great! thank you @conorroche

[2016-01-28 12:39] #116 closed

[2016-01-28 12:40] conorroche commented on #115
closing as no response

[2016-01-28 12:43] baev commented on #115
@conorroche sorry for the delay, miss this one

In my case I need to provide the `USE_WRAPPER_NAME_AS_PROPERTY_NAME` property to get the same mapper configuration as server has

[2016-01-28 12:49] conorroche commented on #124
@allenh I'm not sure I understand, are you talking about swagger code gen or this doclet as they are separate projects. This project does not expand javax.ws.rs.core.Response as a model object as it would baloon the json, from an api documentation point of view it just tells the user they will get a response but there is no information on the actual json of the response.

This project DOES support

[2016-01-28 12:49] #124 closed

[2016-01-28 12:57] conorroche commented on #115
reopening it is possible to do something with this, though is tricky as we dont parse json but rather parse the java classes so have to programatically replicate jacksons behaviour.

note need to consider @XmlElementWrapper too when doing this.

@baev could you give an example of your java code (where wrapper names would be applicable) so i can be sure im handling the correct scenario?

[2016-01-28 14:11] conorroche commented on #129
@karjy01 you cannot have an array of default values, even if it was generated as an array a client would not understand it as not part of the swagger spec. You can however have an array of allowed values, which in swagger is called the enum field. The doclet up to now has supported sourcing the allowable values from an Enum class, and now ive just committed a fix to allow using the @allowableValue

[2016-01-28 16:46] baev commented on #115
@conorroche ok

[2016-01-29 13:13] baev commented on #115
@conorroche https://github.com/baev/swagger-jaxrs-doclet-wrapper-property-name-sample/tree/master

[2016-02-03 11:37] rmpestano commented on #119
just tested trunk version and it is working great!

When do you plan a new release?

[2016-02-06 14:20] roded commented on #29
Sorry for +1ing, any indication on whether this can be at all expected?

[2016-02-08 08:40] conorroche commented on #29
it's really hard to put a timeframe on this, this project is something that I can only work on periodically in my spare time, I'd love to push out the 2.0 release in the next 6 months but atm I have a lot of commitments so can't give any firm timeline

[2016-02-08 18:15] roded commented on #29
@conorroche Thanks for the update.
This is a very useful project; your work is much appreciated.

[2016-03-24 15:07] glucas opened #131 "Operations on application root path"
I'm using the swagger-doclet (along with the swagger-codegen-maven-plugin) to generate documentation from a JAX-RS API.

Resources that have operations at the application root path (with @Path("/") or @Path("")) cause a NullPointerException during codegen. I'm not entirely sure if this is an issue with the doclet or codegen, but the doclet is generating a json spec that has api operations with no

[2016-03-24 15:13] glucas commented on #131
OK - adding a path before running the codegen step prevents the NPE, so I do think this is an iddue with the doclet. This variation of the above example works fine:

`{
  "apiVersion" : "1",
  "swaggerVersion" : "1.2",
  "basePath" : "http://localhost:8180/ws/test",
  "resourcePath" : "/root",
  "apis" : [ {
    "path" : "/",
    "operations" : [ {
      "method" : "GET",
      "nickname" : "getSo

[2016-03-24 16:28] glucas commented on #131
I've got things working locally with a small change to ApiMethodParser#parse: just replacing a "" path with "/" works for me. I can submit a pull request.

[2016-04-01 10:57] conorroche opened #134 "Support annotations for excluding fields/classes/operations"
Currently we support annotations for excluding params but not for fields/classes/operations, we should add this. This would also be a way to address pull request #133

[2016-04-01 10:57] #134 closed

[2016-04-01 11:10] conorroche commented on #131
@glucas thanks for your help ive merged this in now

[2016-04-01 11:10] #131 closed

[2016-04-01 11:10] conorroche commented on #130
closing assume fixed as havent head back

[2016-04-01 11:10] #130 closed

[2016-04-01 11:11] #129 closed

[2016-04-01 13:26] conorroche commented on #119
@rmpestano ive just released 1.x and 1.1.x versions that include this fix

[2016-05-21 02:10] #109 closed

[2016-05-24 18:53] alfsch commented on #113
Currently I even can't use this:

[code]

And this ResponseType is in Sources

I'm Using 1.0.6

[2016-06-09 07:35] ghost opened #136 "Generic Types (non-GenericWrapperTypes)"
Hello

in the ParserHelper you are generally using "qualifiedTypeName" which works fine except when i have something like this

[code]

which will result in

[code]

but what you actually want is something like this

[code]

Using the 'genericWrapperTypes' command line switch is not really an option, because it's not really a wrapper - it contains additional fields that need to be present in the d

[2016-06-10 16:12] JacksMyth commented on #124
Hey I've also stumbled into this. For cases where the is a reponse, the custom @responseType works great.

However, I have cases where the server does not return any data down, besides the http server code and perhaps some headers. In these cases, the controller method still returns Response but the response has no entity set on it. The api doc gets a type=Response and the js client that is genera

[2016-09-20 06:01] ghost commented on #7
duplicates #136

[2016-09-20 06:01] ghost commented on #136
duplicates #7

[2016-10-08 06:00] ghost commented on #136
is also the same as https://github.com/conorroche/swagger-doclet/issues/10

[2016-10-08 06:00] ghost commented on #7
also duplicates https://github.com/conorroche/swagger-doclet/issues/10